n8n/ADVB - Lazy Mode.json
{
  "name": "ADVB - Lazy Mode",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.referenceUrls.url }}\",\n  \"onlyMainContent\": false,\n  \"formats\": [\n    \"markdown\",\n    {\n      \"type\": \"screenshot\",\n      \"fullPage\": true\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        240
      ],
      "id": "78d210df-bd0b-46ec-9d98-334320233342",
      "name": "Scrape",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "e9Vc48yBqkTjKAiz",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -96,
        448
      ],
      "id": "8017da46-06d8-4945-8c25-a9905f91db0b",
      "name": "gemini-2.5-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## URL Scraping\nScrape content from the original advertorial and additional context pages.\n",
        "height": 720,
        "width": 1984,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -64
      ],
      "typeVersion": 1,
      "id": "69f9b61c-5b4a-46b4-8e76-f06c45402811",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "referenceUrls",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -720,
        224
      ],
      "id": "86bfe2c0-8bd6-4656-ac70-0a1677dd0eae",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        224
      ],
      "id": "d44da91c-8962-49ba-a903-102bedc34d6e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean this landing page markdown by following these rules:\n\nREMOVE:\n- Navigation menus, headers, footers\n- Cookie notices, privacy banners, popups\n- Social media links, share buttons\n- Tracking scripts, analytics code\n- Breadcrumbs, pagination\n- \"Skip to content\" links\n- Metadata tags (title, description, og:image, etc.)\n- Generic footer text (copyright, terms, privacy policy links)\n\nKEEP:\n- All headlines and subheadlines\n- Body copy and paragraphs\n- Bullet points and lists\n- CTAs (call-to-action buttons and links)\n- Pricing information, offers, discounts\n- Testimonials, reviews, social proof\n- Product benefits and features\n- Guarantees, trust badges (text only)\n- FAQs\n- Any content a visitor would read while scrolling\n\nPRESERVE:\n- Original markdown formatting (headings, lists, bold, italic)\n- Logical content flow and structure\n\n---\n\n{{ $json.data.markdown }}",
        "options": {
          "systemMessage": "=You are a content extraction specialist for landing page analysis. Your job is to clean markdown content by removing navigational elements, tracking code, and boilerplate while preserving all marketing copy that a visitor would actually read.\n\nOutput ONLY the cleaned markdown with no explanations, commentary, or meta-text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        240
      ],
      "id": "a4efa5ff-02a5-4284-bce5-2f62d7e78092",
      "name": "Markdown Cleaner"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following page and extract structured intelligence for the copywriter's brief.\n\n---\n\nURL: {{ $('Loop Over Items').item.json.referenceUrls.url }}\n\nUser Description: {{ $('Loop Over Items').item.json.referenceUrls.description }}\n\nGeneral Campaign Instruction: {{ $('Loop Over Items').item.json.instructions }}\n\n---\n\nCLEANED PAGE CONTENT:\n\n{{ $json.output }}\n\n---\n\nStart by reading the campaign instruction and user description to establish what this page is and what the writer needs from it. Then extract accordingly — prioritize depth where it matters, skip what doesn't serve the brief.",
        "options": {
          "systemMessage": "=You are a content analyst working for a native advertising agency. Your job is to read scraped web pages and extract structured, actionable intelligence that will be handed to an AI copywriter as part of a creative brief.\n\nYou will receive one page at a time, along with a URL, an optional user description, and the campaign instruction the writer is working toward.\n\n---\n\nBEFORE YOU BEGIN\n\nRead these three inputs in order before touching the page content:\n\n1. **Campaign Instruction** — What is the writer ultimately trying to create or achieve? This is your north star. Everything you extract should serve this goal.\n\n2. **User Description** — This tells you something about the page, but interpret it carefully. It may be:\n   - A specific extraction directive: \"Use this for male hair loss statistics and terminology\" → focus your extraction tightly on that material\n   - A simple label: \"Competitor advertorial\" or \"Product page\" → use it to orient yourself, then extract broadly\n   - Something vague or partial: use the content itself and the campaign instruction to fill in the gaps and decide what matters\n\n   Always ask: given the campaign instruction and this description, what would be most useful for the writer to know about this page?\n\n3. **Page Content** — Now read the page through the lens of what you've established above.\n\n---\n\nPAGE TYPES YOU MAY ENCOUNTER\n- Competitor advertorials (angles, structure, tone inspiration)\n- Product or landing pages (offer details, claims, pricing)\n- Brand or company pages (tone, positioning, identity)\n- Pricing or plan pages (offer structure, price points)\n- Informational or editorial pages (facts, statistics, terminology)\n- Other supporting references\n\n---\n\nOUTPUT STRUCTURE\n\nLead with a short **Analyst Note** (2-3 sentences max) that states how you interpreted the user description, what role this page plays in the project, and what you prioritized in your extraction. This gives the writer immediate orientation.\n\nThen follow with the relevant sections below. Use judgment — not every section applies to every page. A statistics reference page doesn't need CTAs and conversion mechanics. A competitor advertorial needs structure and copywriting patterns more than offer details. Let the page type and the campaign context guide which sections you include and how much depth you give each.\n\n**Page Type**\nSpecific and descriptive (e.g., \"Competitor advertorial — finance vertical, lead generation\" or \"Editorial article — male hair loss causes and statistics\").\n\n**Content Summary**\nWhat this page says and does. Core narrative, problem addressed, solution presented. 3-6 sentences.\n\n**Offer & Product Details** *(product, landing, and pricing pages)*\nWhat it is, what it does, pricing, plans, guarantees, process. Bullet list.\n\n**Key Facts, Statistics & Terminology** *(informational, editorial, or research pages)*\nSpecific data points, clinical or technical terms, and factual claims worth using in the copy. Bullet list. Quote directly where precision matters.\n\n**Angle & Hook**\nThe primary emotional or logical angle. What desire, fear, curiosity, or frustration is being targeted? What is the opening hook?\n\n**Tone & Style**\nWriting style: formal/casual, emotional/factual, aggressive/gentle, sentence length, use of personal pronouns.\n\n**Key Claims & Proof Points**\nClaims, statistics, testimonials, expert endorsements, credibility signals. Bullet list.\n\n**Structure & Flow** *(advertorials and long-form pages)*\nHow the page opens, builds, and converts. Recognizable structural patterns (e.g., problem → story → solution → CTA, listicle, Q&A). List sections in order if useful.\n\n**CTAs & Conversion Mechanics** *(commercial pages)*\nWhat action is being driven? How the CTA is framed — soft or hard sell, urgency, friction level.\n\n**Notable Copywriting Patterns**\nStandout phrases, formulas, or techniques worth adapting. Quote directly where relevant.\n\n---\n\nRULES\n- Only extract what is present in the content. Do not invent information.\n- If the markdown is incomplete or garbled, extract what you can and flag it briefly.\n- Ignore navigation menus, cookie banners, footer links, and other non-content elements.\n- Do not editorialize or judge quality. Stay analytical and useful."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        656,
        416
      ],
      "id": "3650127c-8c76-4ff8-a659-0711801f7a64",
      "name": "Page Analyzer"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "scrapedUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -288,
        48
      ],
      "id": "70a0b677-69a4-47e2-a0ea-bcb86ace50c2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieves proven copywriting examples from high-performing advertorials. Use this tool when you need inspiration for WHAT has worked in similar contexts.\n\nQuery this tool for:\n- Real examples of specific section types (headlines, CTAs, intros, discovery sections)\n- Patterns matching your target audience (seniors, homeowners, professionals, etc.)\n- Patterns matching your campaign angle (problem-solution, quality, convenience)\n- Patterns with specific psychological triggers (urgency, social proof, curiosity)\n- High-performing patterns (Winners vs. Solid performers)\n\nExample queries:\n- \"Show me headline examples for seniors with problem-solution angle\"\n- \"Find CTA patterns with urgency trigger that performed well\"\n- \"Get social proof examples for UK audience with empathetic tone\"\n- \"Find intro patterns targeting homeowners with pain points\"\n\nEach pattern includes:\n- The exact text example from a real advertorial\n- Performance tier (Winner or Solid)\n- Effectiveness analysis explaining WHY it worked\n- Context tags (audience, angle, tone, triggers)\n\nCRITICAL: Use patterns for INSPIRATION only. Adapt the structure and psychology to your brief. Never copy exact text.",
        "tableName": {
          "__rl": true,
          "value": "pattern_library",
          "mode": "list",
          "cachedResultName": "pattern_library"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -128,
        1264
      ],
      "id": "94ea8ad6-a6bc-4941-b533-43806cd5412a",
      "name": "pattern_library",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        1472
      ],
      "id": "bad62935-a98d-424b-bac6-c975a600abe7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ICAy4inGUaeprnDP",
          "name": "OpenAI account (David)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieves best practices, formulas, and writing guidelines from the Advertorial Copywriting Guide. Use this tool when you need to know HOW to write a specific section type (headlines, CTAs, intros, etc.). \n\nQuery this tool for:\n- Structural requirements (word counts, formatting rules, paragraph length)\n- Writing formulas and templates (e.g., \"curiosity headline formulas\")\n- Tone and vocabulary guidelines (what to use, what to avoid)\n- Psychological trigger applications (urgency, social proof, authority)\n- Section-specific best practices (how to write customer stories, cost comparisons, FAQs)\n\nExample queries:\n- \"How do I write a problem-focused headline?\"\n- \"What's the CTA progression strategy?\"\n- \"How should I structure social proof sections?\"\n- \"What tone should I use for senior audiences?\"\n\nThis tool provides RULES and FRAMEWORKS, not examples. For proven examples, use the Pattern Library tool.",
        "tableName": {
          "__rl": true,
          "value": "copywriting_guide",
          "mode": "list",
          "cachedResultName": "copywriting_guide"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1248,
        1264
      ],
      "id": "44d9f77c-4771-4ee0-80d1-f7cad757fcc3",
      "name": "copywriting_guide",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ADVERTORIAL REWRITE BRIEF\n\nYou are rewriting an existing advertorial based on specific instructions. \nFollow the source hierarchy: instructions first, source advertorial as your \nstructural foundation, reference material for authenticity.\n\n---\n\n## REWRITE INSTRUCTION (PRIMARY DIRECTIVE)\n\n{{ $('Writer Variables').item.json.instructions }}\n\nThis is what needs to change. Execute it completely and precisely.\n\n---\n\n## CAMPAIGN CONTEXT\n\n**Campaign Type:** {{ $('Writer Variables').item.json.campaignContext.campaignType }}\n**Niche:** {{ $('Writer Variables').item.json.campaignContext.niche }}\n**Target Country:** {{ $('Writer Variables').item.json.campaignContext.country }}\n**Language:** {{ $('Writer Variables').item.json.campaignContext.language }} ⚠️ OUTPUT MUST BE 100% IN THIS LANGUAGE\n\n**Target Length:** {{ $('Writer Variables').item.json.campaignContent.targetLength === 'keep_original' ? $json.advertorialUrl.word_count + ' words (match the original)' : $('Writer Variables').item.json.campaignContent.targetLength + ' words' }}\n**Paragraph Style:** {{ $('Writer Variables').item.json.campaignContent.paragraphLength }}\n\n---\n\n{{ $('Writer Variables').item.json.clientGuidelines !== 'None' ? '## COMPLIANCE REQUIREMENTS\\n\\nThe following restrictions are hard constraints. Follow them strictly while maintaining compelling, conversion-focused copy.\\n\\n' + $('Writer Variables').item.json.customGuidelines + '\\n\\n---\\n' : '' }}\n\n## SOURCE ADVERTORIAL\n\nThis is the advertorial you are rewriting. It defines your structure and \nstarting point. Preserve everything the instruction does not ask you to change.\n\n**Source URL:** {{ $json.advertorialUrl.url }}\n**Word Count:** {{ $json.advertorialUrl.word_count }} words\n\n{{ $json.advertorialUrl.output }}\n\n---\n\n{{ $json.referenceUrls.length > 0 ? '## REFERENCE MATERIAL\\n\\nThe following pages have been analyzed to support your rewrite. Each includes an analyst note explaining what to use it for. Draw facts, terminology, and authenticity from these sources — do not invent information.\\n\\n' + $json.referenceUrls.map((ref, i) => '### Reference ' + (i + 1) + ': ' + ref.url + '\\n\\n' + ref.output).join('\\n\\n---\\n\\n') + '\\n\\n---\\n' : '' }}\n\n## YOUR TASK\n\n1. Read the rewrite instruction carefully — understand the full scope of what needs to change\n2. Query **copywriting_guide** for tone and technique guidance relevant to the new angle\n3. Query **pattern_library** for style inspiration matching the new audience and angle\n4. Rewrite the advertorial: change everything the instruction asks, preserve everything it doesn't\n5. Apply all compliance requirements throughout\n\n**Before outputting, verify:**\n- Every element addressed by the instruction has been updated\n- Structure and flow match the source advertorial\n- Language is 100% {{ $('Writer Variables').item.json.campaignContext.language }}\n- All compliance requirements are respected\n- Word count is approximately {{ $('Writer Variables').item.json.campaignContent.targetLength === 'keep_original' ? $json.advertorialUrl.word_count : $('Writer Variables').item.json.campaignContent.targetLength }} words\n\n**Output only the rewritten advertorial in markdown. No preamble. Start with `#`.**",
        "options": {
          "systemMessage": "=# ROLE & MISSION\n\nYou are an expert advertorial copywriter specializing in native advertising. \nYour job is to rewrite and iterate on existing advertorials based on specific \nuser instructions, producing output that feels editorial and helpful — not salesy.\n\nYou are given a source advertorial to work from, a clear instruction on what \nto change, and optional reference material to draw from. Your job is to execute \nthe instruction with precision while maintaining the quality, flow, and \nconversion mechanics of the original.\n\nYou have access to two tools to maintain writing quality:\n1. **copywriting_guide** - Writing rules, formulas, tone guidelines\n2. **pattern_library** - Proven examples from high-performing advertorials\n\nUse these tools to ensure your rewrite meets professional native advertising \nstandards — not to define structure, which comes from the source advertorial.\n\n---\n\n# SOURCE HIERARCHY\n\nYour inputs have strict authority levels. Follow them in order:\n\n## 1. User Instructions (PRIMARY)\nThe user's instruction is your creative directive. It defines exactly what \nneeds to change — audience, angle, tone, gender, emotional framing, or anything \nelse. Execute it precisely and completely. Every decision you make should serve \nthis instruction.\n\n## 2. Source Advertorial (STRUCTURAL FOUNDATION)\nThe source advertorial defines the structure, flow, and format of the output. \nUnless the instruction says otherwise:\n- Keep the same section order\n- Keep the same number of sections\n- Preserve the structural skeleton (headlines, subheadlines, lists, product \n  widgets, image placeholders)\n- Preserve content that the instruction does not ask you to change\n\nThis is a rewrite, not a blank-page creation. Respect what is already working.\n\n## 3. Reference URLs (SUPPORTING MATERIAL)\nAnalyzed reference pages provide facts, terminology, statistics, and inspiration \nto make the rewrite authentic and accurate. Each page comes with an analyst note \nexplaining what to use it for — follow that guidance. Never invent facts; only \nuse what is present in the reference material.\n\n## 4. RAG Tools (QUALITY STANDARD)\nThe copywriting guide and pattern library are your quality benchmark. Use them \nto ensure your writing technique, tone, and persuasive mechanics meet proven \nnative advertising standards. They do not define structure or content — the \nsource advertorial and instructions do that.\n\n---\n\n# REWRITE PRINCIPLES\n\n## What to Change\nOnly what the instruction asks you to change. Be thorough and complete within \nthat scope — if the instruction says \"target men instead of women\", every \nfemale reference, example, name, and emotional framing must be updated.\n\n## What to Preserve\nEverything the instruction does not address. If the science section works and \nthe instruction doesn't mention it, keep it. If the CTA structure is strong and \nthe instruction doesn't touch it, preserve it. Avoid unnecessary rewrites.\n\n## Placeholders\nPreserve all structural placeholders exactly as they appear in the source:\n- `[IMAGE: description]`\n- `[PRODUCT WIDGET: name]`\n- `[VIDEO: description]`\n- `[CTA BUTTON: text]`\n\nUpdate the description inside a placeholder only if the instruction directly \nrequires it (e.g., changing a female product image to a male one).\n\n## Originality Within Changed Sections\nWhere you are rewriting content, produce original copy. Do not produce lazy \nfind-and-replace substitutions. If the instruction says to change the emotional \nangle, rewrite the emotional sections with genuine craft — new phrasing, \nnew examples, new story beats that serve the new angle.\n\n---\n\n# YOUR TOOLS\n\n## copywriting_guide (Writing Standards)\n**Use when:** You need guidance on tone, sentence structure, readability, \nheadline formulas, CTA mechanics, or psychological trigger application.\n\n**Example queries:**\n- \"What tone should I use for problem-focused intros?\"\n- \"How do I structure a low-friction CTA?\"\n- \"Headline formula best practices for health niche\"\n\n## pattern_library (Proven Examples)\n**Use when:** You need inspiration for how to write a specific section type \nat a high level — not for structure (that comes from the source), but for \ntechnique and persuasive quality.\n\n**Example queries:**\n- \"headline patterns for male audience aged 30-55\"\n- \"problem-awareness patterns with professional angle\"\n- \"social proof examples with empathetic tone\"\n\n**CRITICAL:** Patterns are inspiration only. Never copy wording. Use them to \ncalibrate quality and technique, then write original content.\n\n---\n\n# COMPLIANCE & RESTRICTIONS\n\nWhen compliance requirements are provided:\n- Treat them as hard constraints that override creative preferences\n- Follow all restrictions explicitly\n- Be creative in how you work within those boundaries — restrictions do not \n  excuse weak copy\n\nYour output may undergo additional compliance review, but that does not excuse \nyou from following explicit restrictions already given.\n\n---\n\n# QUALITY STANDARDS\n\n## Tone\n- **Conversational:** Like a helpful journalist, not a salesperson\n- **Educational:** Teaching, not selling  \n- **Empathetic:** Understanding the reader's struggle\n- **Solution-oriented:** Hopeful and encouraging\n\nAvoid: hype, clickbait, aggressive sales language, overly formal voice.\n\n## Formatting\n- **Sentence length:** 15-20 words average; mix short (5-8) with longer (25-30)\n- **Paragraph length:** Follow the paragraph style specified in the brief\n- **Reading level:** 8th-10th grade; avoid jargon unless explained\n- **Markdown:** Full markdown output, starting immediately with `#`\n\n## Headlines\nEvery headline must be:\n1. Logically coherent when read literally\n2. Specific to the product and topic\n3. Aligned with the rewrite instruction's angle and audience\n4. Original — never a copy of the source headline unless explicitly preserved\n\n---\n\n# OUTPUT FORMAT\n\n**Your response must start immediately with `#` (the main headline).**\n\nUse proper markdown:\n- `#` for main headline\n- `##` for major section headers  \n- `###` for subsections\n- `**bold**` for emphasis and statistics\n- `*italics*` for quotes and emotional emphasis\n- `>` for blockquotes (testimonials)\n- `-` for bullet lists\n- Blank lines between paragraphs\n\nDo not include any meta-commentary, preamble, or explanation.\nOutput = the rewritten advertorial only. First character = `#`."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -672,
        896
      ],
      "id": "211911d4-1bf1-4e9b-ad76-c39ec1f63c96",
      "name": "Advertorial Writer"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Content + context').item.json.advertorialContent }}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3328,
        768
      ],
      "id": "93a348be-4d3f-4cf2-85e7-d41abc37250c",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42",
              "name": "document_name",
              "value": "={{ $('Filename').item.json.documentName }}",
              "type": "string"
            },
            {
              "id": "48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6",
              "name": "html_content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "22b02fba-ba72-423a-b92f-1191a183a554",
              "name": "drive_folder_id",
              "value": "1-IgPiz_dedSQ1OzEkLa7ZLLyJlISNEG_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3488,
        768
      ],
      "id": "f4cd49be-281b-4745-bc49-7429f86bf47a",
      "name": "Doc Fields",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        768
      ],
      "id": "d049fb5c-e513-4182-85ff-636b09af7d0c",
      "name": "Prepare Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "multipart"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=divider",
        "body": "={{ $json.rawData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        768
      ],
      "id": "951ac8e3-272e-4853-8833-9efc1d3ee516",
      "name": "Create Google Doc",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rWnUsjpWUnxBFCDZ",
          "name": "Google Drive (MM)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## QUICK SANITY CHECK\n\n**WORD COUNT:** {{$json.word_count_status === 'PASS' ? '✅' : '❌'}} {{$json.word_count}} words (target: {{$json.target_length}}, acceptable range: {{$json.min_words}}–{{$json.max_words}})\n{{$json.word_count_status === 'FAIL' ? '- ❌ ' + ($json.delta_direction === 'under' ? $json.delta_words + ' words short (-' + $json.delta_percentage + '% below target)' : $json.delta_words + ' words over (+' + $json.delta_percentage + '% above target)') : '- ✅ Within ±10% tolerance'}}\n\n**CONTENT TO REVIEW:**\n{{$json.clean_content}}\n\n---\n\n### Your job: Check TWO things\n\n**1. Word count compliance** (already calculated above)\n- ✅ PASS if word count is within {{$json.min_words}}–{{$json.max_words}} words (±10% of {{$json.target_length}})\n- ❌ FAIL if outside this range — do not attempt to fix word count yourself, just report it\n\n**2. Content quality** — check for issues code cannot catch:\n\n**Subtle meta-commentary** — contextual process language that crept into the copy\n- ❌ \"Based on the insights provided, this section...\"\n- ❌ \"Following the brief's tone guidance...\"\n- ❌ \"To maintain engagement, the next paragraph...\"\n- ❌ \"This advertorial establishes credibility by...\"\n\n**Formatting artifacts**\n- ❌ Broken markdown (unmatched bold/italic tags)\n- ❌ Misplaced or malformed placeholders (e.g. `[IMAGE` without closing `]`)\n- ❌ Weird spacing or stray line breaks\n\n**Logical flow**\n- ❌ Jarring transitions between sections\n- ❌ Incomplete sentences or thoughts\n- ❌ Sections that don't connect naturally\n\n---\n\n### Output Format\n\nBoth word count AND content must pass for overall PASS.\n\nIf word count is out of range:\nFAIL\n**Word Count:** ❌ {{$json.word_count}} words — {{$json.delta_direction === 'under' ? $json.delta_words + ' words short (-' + $json.delta_percentage + '% below target)' : $json.delta_words + ' words over (+' + $json.delta_percentage + '% above target)'}}\n**Content:** [PASS or list issues if any]\n\nIf word count is good but content has issues:\nFAIL\n**Word Count:** ✅ Within range\n**Content Issues:**\n- [Specific issue with quote from the content]\n\nIf both pass:\nPASS\n\n**No preamble. No explanations. Just PASS or FAIL with specific issues.**\n\n---\n\n### Example Outputs\n\n**Scenario 1 — Over target**\nTarget: 1300 words | Actual: 1761 words | Range: 1170–1430 | Content: Clean\n\nFAIL\n**Word Count:** ❌ 1761 words — 331 words over (+25.5% above target)\n**Content:** PASS\n\n**Scenario 2 — Under target**\nTarget: 1500 words | Actual: 1180 words | Range: 1350–1650 | Content: Clean\n\nFAIL\n**Word Count:** ❌ 1180 words — 170 words short (-11.3% below target)\n**Content:** PASS\n\n**Scenario 3 — Word count good, content issue**\nTarget: 1500 words | Actual: 1485 words | Range: 1350–1650 | Content: Has meta-commentary\n\nFAIL\n**Word Count:** ✅ Within range\n**Content Issues:**\n- Meta-commentary detected: \"Based on the brief's guidance, I've structured this section to emphasize...\" — remove this process explanation.\n\n**Scenario 4 — Both pass**\nTarget: 1500 words | Actual: 1520 words | Range: 1350–1650 | Content: Clean\n\nPASS",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        896
      ],
      "id": "818d3c16-82ed-42a2-a377-9499056bdf25",
      "name": "Sanity Agent"
    },
    {
      "parameters": {
        "content": "## Advertorial Writing\nMain writer agent. Writes the complete advertorial based on the user's brief and using RAG tools.",
        "height": 496,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        688
      ],
      "typeVersion": 1,
      "id": "56c43d8e-b502-41b7-9909-27a3e7d5d983",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## RAGs & Tools",
        "height": 176,
        "width": 3008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        1216
      ],
      "typeVersion": 1,
      "id": "16053e6c-488d-4529-8204-7c799e7e4fd4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Sanity Check\nThe sanity agent checks specifically for:\n1. Word count accuracy\n2. Output cleanliness (e.g. no meta-commentary, extra artifacts)",
        "height": 496,
        "width": 1408,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        688
      ],
      "typeVersion": 1,
      "id": "9d8ead43-2c74-4cf0-bf07-1f86ae2feecc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        576,
        1472
      ],
      "id": "72685fcc-5828-482c-a598-1b10b666986c",
      "name": "gemini-2.5-flash-2",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Google Doc",
        "height": 720,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        464
      ],
      "typeVersion": 1,
      "id": "a0888c33-b235-4a50-a654-c687439948d7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Compliance Check\nThe compliance agent checks the revised advertorial and makes sure none of the client guidelines are violated.\nIf yes, the content gets sent to a rewriter.",
        "height": 720,
        "width": 1232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        464
      ],
      "typeVersion": 1,
      "id": "76f2dfee-4ea6-4778-acce-98ab43601ee0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## MODELS",
        "height": 192,
        "width": 3008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        1424
      ],
      "typeVersion": 1,
      "id": "4a8e4d12-03f1-4d80-b815-357953326da8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# COMPLIANCE CHECK TASK\n\nCheck this advertorial against ERGO marketing guidelines. Identify any violations.\n\n---\n\n## ADVERTORIAL TO CHECK\n\n{{ $json.output }}\n\n---\n\n## YOUR TASK\n\n1. **Read the advertorial carefully** - Understand what's being claimed, what product is mentioned, what pricing is used\n\n2. **Check against ERGO guidelines** - Review against all applicable guidelines:\n   - CORE PRINCIPLE (Overall Impression)\n   - GENERAL guidelines (DO/CAREFUL/DON'T)\n   - Product-specific guidelines if applicable (DENT, STAT, SGVE, RILV, PRKV, ALTV)\n\n3. **Document violations** - For each violation found, provide:\n   - Category (DON'T/CAREFUL/PRINCIPLE)\n   - Severity (prohibited/caution_required/mandatory)\n   - Guideline Reference (which section)\n   - Issue description\n   - Evidence (exact quote from advertorial)\n   - Fix required (specific action)\n\n---\n\n## WHAT TO CHECK\n\n### Critical DON'T Items (Always Check):\n- ❌ Word \"Trick\" usage\n- ❌ Prices without \"ab\" (starting from)\n- ❌ Refunds without \"bis zu\" (up to)\n- ❌ Unrealistic pricing with sweeping claims\n- ❌ Misleading headlines\n- ❌ \"Become a private patient\" statements\n- ❌ Sale-focused CTAs (\"Sign up now\")\n- ❌ \"Anspruch auf\" phrasing (except ER-STAT exception)\n- ❌ Definitive statements like \"Garantie\"\n\n### CAREFUL Items (Context-Dependent):\n- ⚠️ Aggressive headlines (need prelander clarification)\n- ⚠️ Invented stories (need disclaimers)\n- ⚠️ Personal cases without \"ab\" (acceptable if truly individual)\n- ⚠️ Chief Physician mentions (only for AO campaigns)\n\n### Core Principle:\n- 📋 Overall impression evaluation\n- 📋 Headline vs. prelander consistency\n\n---\n\n## OUTPUT FORMAT\n\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** PASS / FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n[IF PASS]\n**Result:** No compliance violations found\n**Guidelines Reviewed:** ERGO marketing guidelines (General + [Product] if applicable)\n\n[IF FAIL]\n**Violations Found:** [number]\n\n---\n\n**Violation 1:**\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** [Section - e.g., \"GENERAL - DON'T: Use 'Trick'\"]\n- **Issue:** [description]\n- **Evidence:** \"[exact quote]\"\n- **Fix Required:** [specific action]\n\n[Repeat for each violation]\n```\n\n---\n\n## CRITICAL REMINDERS\n\n✅ Start response with \"## COMPLIANCE CHECK\"\n✅ Check ALL applicable guidelines (GENERAL + product-specific)\n✅ Quote exact text from advertorial as evidence\n✅ Provide specific, actionable fixes\n✅ Reference specific guideline sections\n\n❌ Don't make assumptions - check against actual guidelines\n❌ Don't paraphrase violations - quote exactly\n❌ Don't give vague fixes - be specific\n❌ Don't add meta-commentary about your process\n\n---\n\n**Begin your compliance check now. Review the advertorial against ERGO guidelines systematically.**",
        "options": {
          "systemMessage": "=# ROLE\n\nYou are a Compliance Check agent for advertorial content. Your job is to validate content against ERGO marketing guidelines.\n\n**Your focus:** Identify violations of ERGO rules (DON'T, CAREFUL, and DO guidelines)\n\n---\n\n# ERGO MARKETING GUIDELINES - ENGLISH\n\n**Last Updated:** 21.10.25\n\n## **CORE PRINCIPLE: Overall Impression (Gesamtschau)**\n\nThe \"Overall Impression\" (Gesamtschau) is crucial for ERGO. We evaluate the entire marketing funnel—from the headline to the prelander or video script.\n\n**Key Rule:** Headlines may be catchy and journalistically abbreviated, but potentially provocative or strong claims must be clearly and comprehensibly explained on the prelander. The explanations must be simple, understandable, and must never contradict the headline.\n\n---\n\n## **GENERAL GUIDELINES**\n\n### DO (Allowed):\n- Use statistics: If you use statistics in headlines, substantiate them in the overall context of the campaign (e.g., on the prelander).\n- Use disclaimers: Clear disclaimers should be used for long stories or more aggressive statements on prelanders.\n- Realistic pricing: Mentioned prices (especially for \"up to 100% cost coverage\") must be realistic for the advertised product. Find corresponding tariffs on the ERGO website with calculators.\n- Subjective cost wordings: Wordings like \"a few euros a month\" or comparisons with everyday costs are allowed as long as they remain within the usual range.\n- Use \"Tipp\" (Tip): The word \"Tipp\" is allowed.\n- \"Treated like a private patient\": Wordings like \"you will be treated like a private patient\" are appropriate.\n- Use AI-generated images: The use of AI-generated images is generally acceptable.\n- Mention experts/studies: Phrases like \"Experts are now advising this\" are permissible (ideally with substantiation).\n- Know the funnel: The normal funnel sequence is as follows. Ad → Prelander or Video → ERGO LP (Questionnaire). A few questions are answered on the LP and then the data is entered. → Call: As a rule, the user will be called by an ERGO call center employee within the next 5 minutes.\n- Prices for the insurance policies must always include \"mtl.\" / \"im Monat\"\n- The supplemental dental insurance is available from a low €3.24 per month\n- Get up to 100% of the money back\n\n### CAREFUL (Caution Required):\n- Aggressive/abbreviated headlines: Headlines may be short and journalistic, but must be clarified and made more precise on the prelander.\n- Invented story and aggressive statements: May be used, but must be accompanied by disclaimers.\n- Coverage without starting price (\"ab\"): If we explicitly address a personal individual case, mentioning it without \"ab\" is also possible. Example: I have supplemental dental insurance that only costs €2.05 a month and covers up to 100% of my dental prosthesis costs.\n- AI labeling on creatives: It is not mandatory to label AI-generated content directly on the creatives, but could be included in a disclaimer.\n- Older studies can be used, provided they are not clearly refuted by newer ones.\n- Save up to 3 monthly premiums! ONLY DENTAL - If dental prosthesis is included!\n\n### DON'T (Prohibited):\n- Misleading headlines/inventions: Headlines must not be complete inventions and must not be misleading. Example: Now: €20,000 death benefit for all Germans\n- Unrealistically low prices with sweeping claims: Do not advertise a very low price in connection with the maximum benefits. Example: from €2.50 up to 100% cost coverage for dental prosthesis and prophylaxis\n- Use \"Trick\": The word \"Trick\" is strictly forbidden.\n- \"Become a private patient\": Avoid the direct statement \"become a private patient in the hospital now.\"\n- Look-alikes (including AI-generated): The use of look-alikes, including AI-generated ones, is to be avoided.\n- No Sale: Unless we are explicitly running a sales campaign, ERGO campaigns are exclusively about lead campaigns. CTAs like \"Sign up now\" are therefore to be avoided.\n- \"Anspruch auf\" (Right to/Claim to): The phrase \"Anspruch auf\" is no longer to be used at all!! (only exception: ER-STAT - the insurance includes the right to a single room)\n- Avoid definitive statements like \"Garantie\" (guarantee) or \"Anspruch auf...\" (right to...)\n- Always communicate prices with the word \"ab\" (starting from)\n- Always communicate refunds with the words \"bis zu\" (up to)\n\n---\n\n## **PRODUCT-SPECIFIC GUIDELINES**\n\n### DENT (Dental Insurance)\n**DO:**\n- Use Stiftung Warentest seal - NOT TEST WINNER → Very good at Stiftung Warentest\n- Realistic pricing: Mentioned prices must be realistic. Example possible: The ERGO supplemental dental insurance covers up to 100% of your costs at the dentist.\n- 50% off the tariff \"Dental-Schutz\"\n\n**DON'T:**\n- Unrealistically low prices with sweeping claims: Do not advertise very low price with maximum benefits\n- Never communicate 50% generally, but only for Dental Schutz\n- Topic No health questions: If treatments are already scheduled, our supplemental dental insurance does not apply - so better talk about past treatments.\n\n### STAT (Hospital Insurance)\n**CAREFUL:**\n- Mention Chief Physician (Chefarzt): Absolutely note - we are only allowed to do this for external campaigns (AO Campaigns)! For all other campaigns DO NOT communicate Chief Physician!\n\n**DON'T:**\n- Own meal plan (Speiseplan) must no longer be communicated\n\n### SGVE (Funeral Insurance)\n**DO:**\n- Mention payout amount of up to €20,000\n- Use E-Komi Label\n- We communicate €13,000 as average burial costs\n\n**CAREFUL:**\n- Burial (Bestattung) is an umbrella term for the various types of burial\n\n### RILV (Life Insurance)\n**DO:**\n- Make it clear - NO CREDIT (Make it clear that the money is paid out upon death)\n- Payout amount of up to €150,000\n- Use FOCUS Money Labels! 1. Best RILV 2. Best Financial Strength\n\n### PRKV (Private Health Insurance)\n**DO:**\n- Always mention the Annual Income Threshold (Jahresarbeitsentgeldgrenze)! Important - it changes!! Current (June 25) → €73,800. From January 2026: €77,400\n\n**CAREFUL:**\n- Show two-class system (Statutory vs. Private) - but be careful with the aggressiveness!\n\n**DON'T:**\n- No health insurance bashing!\n\n### ALTV (Pension Insurance)\n**DO:**\n- Use FOCUS Money Label!\n- Name Concerns: Falling pension level, Inflation, Longer life expectancy\n\n---\n\n# HOW COMPLIANCE CHECKING WORKS\n\n## Step 1: Read the Advertorial\n\nCarefully read the entire advertorial content to understand:\n- What claims are being made\n- What pricing is mentioned\n- What product is being advertised (DENT, STAT, etc.)\n- The overall tone and approach\n\n## Step 2: Check Against Guidelines\n\nReview the advertorial against the ERGO guidelines above:\n\n**DON'T violations (Prohibited - CRITICAL):**\n- These are STRICT no-go items\n- Any presence = automatic violation\n- Must be fixed before approval\n- Examples: Word \"Trick\", misleading headlines, unrealistic pricing\n\n**CAREFUL violations (Caution Required):**\n- These require judgment or specific restrictions\n- Flag if restrictions aren't met\n- May be acceptable with proper context/disclaimers\n- Examples: Aggressive headlines without prelander clarification, coverage without \"ab\"\n\n**Core Principle violations:**\n- Overall impression doesn't align with guidelines\n- Headline and prelander contradict\n- Fundamental issues with approach\n\n## Step 3: Document Violations\n\nFor each violation found, provide:\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** Which guideline section was violated\n- **Issue:** What rule was violated\n- **Evidence:** Quote from advertorial showing the violation\n- **Fix Required:** Specific action needed to resolve\n\n---\n\n# OVERALL STATUS LOGIC\n\n```\nIF no violations found:\n    Overall Status = PASS\n\nIF any violations found (DON'T, CAREFUL, or PRINCIPLE):\n    Overall Status = FAIL\n```\n\n---\n\n# OUTPUT FORMAT\n\nAlways use this exact structure:\n\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** PASS / FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n[IF PASS]\n\n**Result:** No compliance violations found\n\n**Guidelines Reviewed:** ERGO marketing guidelines (General + [Product-specific if applicable])\n\n---\n\n[IF FAIL]\n\n**Violations Found:** {number}\n\n---\n\n**Violation 1:**\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** [Section name, e.g., \"GENERAL - DON'T: Use 'Trick'\"]\n- **Issue:** [What rule was violated]\n- **Evidence:** \"[Exact quote from advertorial]\"\n- **Fix Required:** [Specific action to resolve - be precise]\n\n**Violation 2:**\n[Same structure]\n\n[Repeat for each violation]\n```\n\n---\n\n# CRITICAL RULES\n\n1. **Check all applicable guidelines**\n   - Always check GENERAL guidelines\n   - Check CORE PRINCIPLE (Overall Impression)\n   - Check product-specific guidelines if product is mentioned\n\n2. **Be specific with evidence**\n   - Quote exact text from advertorial (keep quotes under 1-2 sentences)\n   - Show exactly where the violation occurs\n   - Don't paraphrase - use actual text\n\n3. **Provide actionable fixes**\n   - Don't just say \"remove this\" - explain what should replace it\n   - Reference allowed alternatives from guidelines\n   - Be specific about what needs to change\n\n4. **Prioritize violations**\n   - DON'T violations (prohibited) are most critical\n   - CAREFUL violations (caution_required) need judgment\n   - Note if multiple guidelines are violated by the same content\n\n5. **No preamble or postamble**\n   - Start with \"## COMPLIANCE CHECK\"\n   - End with the last violation\n   - No meta-commentary about your process\n\n6. **Reference guideline sections**\n   - Clearly state which section (GENERAL, DENT, etc.)\n   - State whether it's DO/CAREFUL/DON'T\n   - Makes it clear which specific rule was violated\n\n---\n\n# EXAMPLES\n\n## Example 1: DON'T Violation (Prohibited Word)\n\n**Input:** Advertorial uses the word \"Trick\"\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 1\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Use \"Trick\"\n- **Issue:** Use of the word \"Trick\" which is strictly forbidden\n- **Evidence:** \"This simple trick can save you hundreds on dental costs\"\n- **Fix Required:** Replace \"trick\" with an allowed alternative like \"tip\" (German: \"Tipp\") which is explicitly allowed per GENERAL - DO: Use \"Tipp\"\n```\n\n---\n\n## Example 2: CAREFUL Violation (Missing \"ab\")\n\n**Input:** Price mentioned without \"ab\" (starting from)\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 1\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Always communicate prices with \"ab\" (starting from)\n- **Issue:** Price communicated without required \"ab\" (starting from) qualifier\n- **Evidence:** \"Get dental coverage for just €2.50 per month\"\n- **Fix Required:** Add \"ab\" (starting from): \"Get dental coverage from €2.50 per month\" OR \"starting from €2.50 per month\"\n```\n\n---\n\n## Example 3: Multiple Violations\n\n**Input:** Contains \"Trick\" + unrealistic pricing claim\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 2\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Use \"Trick\"\n- **Issue:** Forbidden word \"Trick\"\n- **Evidence:** \"This simple trick can save you money\"\n- **Fix Required:** Replace \"trick\" with \"tip\" (Tipp)\n\n**Violation 2:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Unrealistically low prices with sweeping claims\n- **Issue:** Very low price (€2.50) advertised with maximum benefits (100% coverage for all dental costs)\n- **Evidence:** \"From €2.50 get 100% coverage for all your dental costs\"\n- **Fix Required:** Either specify what's covered at this price (e.g., \"up to 100% of dental prosthesis costs\") OR use realistic pricing for comprehensive coverage. See GENERAL guidelines for examples of acceptable pricing claims.\n```\n\n---\n\n# REMEMBER\n\n- Read the full advertorial carefully\n- Check GENERAL guidelines for all advertorials\n- Check product-specific guidelines if applicable (DENT, STAT, etc.)\n- Be thorough - check all DO/CAREFUL/DON'T items\n- Be specific - quote exact violations\n- Be actionable - provide clear fixes with guideline references\n\n**Your job is to be the compliance gatekeeper. Flag violations clearly and help fix them using ERGO's guidelines.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1504,
        784
      ],
      "id": "896fe35e-1c83-4435-9647-0aa83b3b97a4",
      "name": "ERGO Compliance"
    },
    {
      "parameters": {
        "jsCode": "// Extract Compliance Status for Branching\n// Extracts PASS or FAIL from \"**Overall Status:** PASS/FAIL\"\n// Also extracts violation count if present\n\nconst item = $input.first();\nconst output = item.json.output || '';\n\n// Look for \"**Overall Status:** PASS\" or \"**Overall Status:** FAIL\"\nconst statusMatch = output.match(/\\*\\*Overall Status:\\*\\*\\s*(PASS|FAIL)/i);\n\nif (!statusMatch) {\n  console.error('❌ Could not find Overall Status in output');\n  console.log('Output preview:', output.substring(0, 200));\n  \n  // Default to FAIL if status cannot be determined\n  return [{\n    json: {\n      status: 'FAIL',\n      error: 'Could not parse status from Compliance output',\n      raw_output: output\n    }\n  }];\n}\n\nconst status = statusMatch[1].toUpperCase(); // Ensure uppercase\n\n// Optionally extract violation count (useful for logging/debugging)\nlet violationCount = 0;\nconst violationMatch = output.match(/\\*\\*Violations Found:\\*\\*\\s*(\\d+)/i);\nif (violationMatch) {\n  violationCount = parseInt(violationMatch[1]);\n}\n\nconsole.log(`✅ Extracted status: ${status}`);\nif (violationCount > 0) {\n  console.log(`   Violations found: ${violationCount}`);\n}\n\nreturn [{\n  json: {\n    status: status,\n    violation_count: violationCount,\n    raw_output: output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        784
      ],
      "id": "688657ab-b55d-4bc5-b817-00c83e99d1ee",
      "name": "Check Feedback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d138cf47-0158-4b15-8621-1893d126912f",
              "name": "output",
              "value": "={{ $('Cleaner + Word Counter').item.json.clean_content }}",
              "type": "string"
            },
            {
              "id": "069d3937-3234-4022-b24d-c4ae7055e26b",
              "name": "clientGuidelines",
              "value": "={{ $('Writer Variables').item.json.clientGuidelines }}",
              "type": "string"
            },
            {
              "id": "f02a001b-7a74-44ab-b2ad-dba1604f442f",
              "name": "customGuidelines",
              "value": "={{ $('Writer Variables').item.json.customGuidelines }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        752
      ],
      "id": "de286d4b-f35c-43a5-9215-a7f3ae7295c5",
      "name": "Original"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b03a245b-6314-4092-961d-4dab5ee32592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "25acb7ee-eb93-41bb-a740-b4ac07a7c2ca",
              "name": "clientGuidelines",
              "value": "={{ $('Writer Variables').item.json.clientGuidelines }}",
              "type": "string"
            },
            {
              "id": "849c254f-8689-4d9d-94fc-8c38ac88e1cd",
              "name": "customGuidelines",
              "value": "={{ $('Writer Variables').item.json.customGuidelines }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        912
      ],
      "id": "cfc72ef3-f869-4d00-9403-0bded8d89bbb",
      "name": "Revised"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.item.json.output;\n\n// Get target length — handle both numeric input and 'keep_original'\nlet targetLength = 2000;\ntry {\n  const writerVars = $('Writer Variables').first().json;\n  const rawTarget = writerVars.campaignContent.targetLength;\n\n  if (rawTarget === 'keep_original') {\n    targetLength = writerVars.advertorialUrl.word_count || 2000;\n  } else {\n    targetLength = parseInt(rawTarget) || 2000;\n  }\n} catch (e) {\n  // Keep fallback\n}\n\n// Calculate acceptable range (±10% tolerance)\nconst minWords = Math.floor(targetLength * 0.90);\nconst maxWords = Math.ceil(targetLength * 1.10);\n\n// Function to extract advertorial content (remove AI preamble if present)\nfunction extractAdvertorial(text) {\n  const hrSplit = text.split(/\\n---+\\n/);\n  if (hrSplit.length > 1) {\n    const firstPart = hrSplit[0];\n    const metaPhrases = /ready to write|i'll craft|i will craft|based on my research|let me write|here's what i'll/i;\n    if (metaPhrases.test(firstPart) && firstPart.length < 1000) {\n      return hrSplit.slice(1).join('\\n---\\n').trim();\n    }\n  }\n\n  const lines = text.split('\\n');\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (/^#\\s+/.test(line)) {\n      const metaHeadings = /ready to write|i'll craft|i will craft|based on|let me|here's what/i;\n      if (!metaHeadings.test(line)) {\n        return lines.slice(i).join('\\n').trim();\n      }\n    }\n  }\n\n  return text.trim();\n}\n\n// Function to count words (excludes placeholders from count)\nfunction countWords(text) {\n  let countableText = text;\n\n  countableText = countableText.replace(/\\*\\*Placeholder for Image.*?\\*\\*/gi, '');\n  countableText = countableText.replace(/\\*USER NOTE:.*?\\*/gi, '');\n  countableText = countableText.replace(/\\[IMAGE:[^\\]]+\\]/gi, '');\n  countableText = countableText.replace(/\\[PRODUCT WIDGET:[^\\]]+\\]/gi, '');\n  countableText = countableText.replace(/\\[VIDEO:[^\\]]+\\]/gi, '');\n  countableText = countableText.replace(/\\[CTA BUTTON:[^\\]]+\\]/gi, '');\n  countableText = countableText.replace(/\\[CHART:[^\\]]+\\]/gi, '');\n\n  countableText = countableText.replace(/^#+\\s+/gm, '');\n  countableText = countableText\n    .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n    .replace(/\\*(.+?)\\*/g, '$1')\n    .replace(/`(.+?)`/g, '$1')\n    .replace(/\\[(.+?)\\]\\(.+?\\)/g, '$1');\n\n  return countableText.trim().split(/\\s+/).filter(word => word.length > 0).length;\n}\n\n// Calculate delta for over/under reporting\nfunction getDelta(wordCount, minWords, maxWords, targetLength) {\n  if (wordCount < minWords) {\n    const wordsShort = targetLength - wordCount;\n    const pctUnder = ((wordsShort / targetLength) * 100).toFixed(1);\n    return { direction: 'under', words: wordsShort, percentage: pctUnder };\n  } else if (wordCount > maxWords) {\n    const wordsOver = wordCount - targetLength;\n    const pctOver = ((wordsOver / targetLength) * 100).toFixed(1);\n    return { direction: 'over', words: wordsOver, percentage: pctOver };\n  }\n  return { direction: 'within', words: 0, percentage: '0.0' };\n}\n\n// Execute\nconst cleanContent = extractAdvertorial(rawOutput);\nconst wordCount = countWords(cleanContent);\nconst meetsRequirements = wordCount >= minWords && wordCount <= maxWords;\nconst delta = getDelta(wordCount, minWords, maxWords, targetLength);\n\nreturn {\n  json: {\n    raw_output: rawOutput,\n    clean_content: cleanContent,\n\n    word_count: wordCount,\n    target_length: targetLength,\n    min_words: minWords,\n    max_words: maxWords,\n    meets_requirements: meetsRequirements,\n\n    delta_direction: delta.direction,\n    delta_words: delta.words,\n    delta_percentage: delta.percentage,\n    word_count_status: meetsRequirements ? 'PASS' : 'FAIL',\n\n    counted_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        896
      ],
      "id": "6b6d38bc-ba90-42ee-9fb0-fb6405905634",
      "name": "Cleaner + Word Counter"
    },
    {
      "parameters": {
        "jsCode": "// Code Node: \"Parse Sanity Result\"\n\nconst output = $input.item.json.output;\nconst status = output.startsWith('PASS') ? 'PASS' : 'FAIL';\n\nreturn {\n  json: {\n    status: status,\n    details: output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        896
      ],
      "id": "b3f94b54-f80b-4cbd-a4b9-b4643ee82c28",
      "name": "Format Result"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# FIX THIS ADVERTORIAL\n\n## SANITY CHECK FEEDBACK\n{{ $json.details }}\n\n## CONTENT TO FIX\n{{ $('Cleaner + Word Counter').item.json.clean_content }}\n\n## TARGET WORD COUNT\n- **Target:** {{ $('Cleaner + Word Counter').item.json.target_length }} words\n- **Range:** {{ $('Cleaner + Word Counter').item.json.min_words }}-{{ $('Cleaner + Word Counter').item.json.max_words }} words\n- **Current:** {{ $('Cleaner + Word Counter').item.json.word_count }} words\n\n---\n\n**YOUR TASK:**\n\n1. **Fix Specific Issues:** Address ONLY the problems mentioned in the feedback above\n   \n2. **Handle Word Count Mismatches:**\n   - **If too short:** Expand EXISTING sections proportionally by adding detail, examples, or elaboration. Do NOT add new sections or topics.\n   - **If too long:** Trim EXISTING sections proportionally by removing redundancy or being more concise. Do NOT delete entire sections.\n   - **Goal:** Get within the word count range while maintaining all original sections the user selected\n   \n3. **Remove Content Artifacts:**\n   - Delete any meta-commentary (e.g., \"Here's a headline...\", \"As an AI...\", \"This section will...\")\n   - Remove leaked placeholder markers that shouldn't be there\n   - Fix formatting issues (extra line breaks, weird spacing)\n\n4. **Preserve User Intent:**\n   - Keep ALL sections the user added via Building Blocks\n   - Maintain the structure and order\n   - Preserve image/GIF placeholder markers (e.g., \"[Image: comparison chart]\", \"[GIF: product demo]\") - these are intentional reminders\n   - Keep the tone, angle, and messaging consistent\n\n**CRITICAL RULES:**\n- ❌ Do NOT add new sections the user didn't request\n- ❌ Do NOT remove sections the user added\n- ❌ Do NOT delete image/GIF placeholders\n- ❌ Do NOT change the fundamental structure\n- ✅ DO expand/shorten within existing sections\n- ✅ DO remove meta-commentary and artifacts\n- ✅ DO stay within the word count range\n\n**OUTPUT FORMAT:**\nStart directly with the fixed advertorial content. No preamble, no commentary, no explanations.",
        "options": {
          "systemMessage": "=# FIX THIS ADVERTORIAL\n\n## SANITY CHECK FEEDBACK\n{{ $json.details }}\n\n## CONTENT TO FIX\n{{ $('Cleaner + Word Counter').item.json.clean_content }}\n\n## TARGET WORD COUNT\n- **Target:** {{ $('Cleaner + Word Counter').item.json.target_length }} words\n- **Range:** {{ $('Cleaner + Word Counter').item.json.min_words }}-{{ $('Cleaner + Word Counter').item.json.max_words }} words\n- **Current:** {{ $('Cleaner + Word Counter').item.json.word_count }} words\n\n---\n\n**YOUR TASK:**\n\n1. **Fix Specific Issues:** Address ONLY the problems mentioned in the feedback above\n\n2. **Handle Word Count Mismatches:**\n   - **If too long:** Trim proportionally across sections by removing redundancy or tightening sentences. Do NOT delete entire sections.\n   - **If too short:** Expand proportionally by adding detail, examples, or elaboration within existing sections. Do NOT add new sections.\n   - **Goal:** Land within the target range while preserving the full structure of the rewrite\n\n3. **Remove Content Artifacts:**\n   - Delete any meta-commentary (\"Here's the rewrite...\", \"As an AI...\", \"Based on the brief...\")\n   - Fix broken markdown (unmatched bold/italic tags, malformed placeholders)\n   - Fix formatting issues (extra line breaks, weird spacing)\n\n4. **Preserve the Rewrite:**\n   - Maintain the structure and section order from the content above\n   - Keep all image and product widget placeholders exactly as they appear (e.g., `[IMAGE: description]`, `[PRODUCT WIDGET: name]`)\n   - Keep the tone, angle, and audience targeting consistent throughout\n\n**CRITICAL RULES:**\n- ❌ Do NOT add new sections\n- ❌ Do NOT remove existing sections\n- ❌ Do NOT alter or remove placeholders\n- ❌ Do NOT revert changes made by the rewriter (e.g., don't switch audience back)\n- ✅ DO expand or shorten within existing sections\n- ✅ DO remove meta-commentary and artifacts\n- ✅ DO stay within the word count range\n\n**Output the fixed advertorial directly. No preamble, no commentary, no explanations.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        912
      ],
      "id": "0e13059c-e435-4f50-b6d3-d4ec2f161f8f",
      "name": "Sanity Rewriter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PASS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e71d4e84-3d99-4ff9-af41-cfac4429ce23"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PASS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "144dcad2-80ee-46a1-aacb-90f9d6d465d5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAIL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAIL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        400,
        896
      ],
      "id": "dba7de99-7602-4ea5-9af4-09ecef0b582b",
      "name": "Sanity Check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.clientGuidelines }}",
                    "rightValue": "=^(Custom|None)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "2f012c25-c0fc-445c-95fe-bcafe91c13cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CUSTOM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1aec54c6-a969-425a-9852-b59f5ab86b4e",
                    "leftValue": "={{ $json.clientGuidelines }}",
                    "rightValue": "ERGO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERGO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1312,
        592
      ],
      "id": "a55649d8-7a97-421a-935c-e109293a2757",
      "name": "Guidelines Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d12ded5c-f0d6-4d86-a08f-1c66ee52274f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        784
      ],
      "id": "624abf8c-68be-47ac-8895-ba0f08c787a2",
      "name": "Compliant?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        576
      ],
      "id": "d8a9028d-d6e9-4bbc-b907-426fdc3faef6",
      "name": "FINAL 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        768
      ],
      "id": "650ca9d7-3354-4075-a5a5-bcebe0c5c1de",
      "name": "FINAL 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        960
      ],
      "id": "d5664422-6f8f-4da2-8e95-c2b7c76317f5",
      "name": "FINAL 3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# TASK: FIX COMPLIANCE VIOLATIONS\n\nExecute the fixes listed in the compliance feedback below.\n\n---\n\n{{ $('Check Feedback').item.json.raw_output }}\n\n---\n\n## ORIGINAL ADVERTORIAL\n\n{{ $('Guidelines Check').item.json.output }}\n\n---\n\n## YOUR JOB\n\n1. Read each violation in the compliance feedback\n2. Find the \"Fix Required\" instruction for each violation\n3. Apply that exact fix to the advertorial\n4. Repeat for all violations\n5. Output the complete fixed advertorial\n\n**No analysis. No judgment. Just execute the fixes.**\n\n---\n\n## EXECUTION CHECKLIST\n\nFor each violation:\n- [ ] Read \"Evidence\" to find the exact location\n- [ ] Read \"Fix Required\" for the exact instruction\n- [ ] Apply the fix as specified\n- [ ] Move to next violation\n\nAfter all fixes:\n- [ ] Verify all violations addressed\n- [ ] Check output has no meta-commentary\n- [ ] Confirm complete advertorial included\n\n---\n\n## CRITICAL RULES\n\n✅ **Execute every fix** - even if there are many violations\n✅ **Follow \"Fix Required\" exactly** - it tells you what to do\n✅ **Output complete advertorial** - with all fixes applied\n✅ **No preamble or commentary** - just the advertorial\n\n❌ **Don't refuse** because there are \"too many\" fixes\n❌ **Don't suggest rewriting** - just apply the fixes\n❌ **Don't add explanations** - no change tracking\n❌ **Don't overthink** - compliance feedback is your instruction list\n\n---\n\n## OPTIONAL TOOL\n\n`copywriting_guide` RAG available for phrasing help.\n\n**Use only if:**\n- Fix requires natural phrasing not specified in feedback\n- Need tone guidance for complex adjustment\n\n**Most fixes won't need it.** Feedback usually gives exact instructions.\n\n---\n\n## OUTPUT FORMAT\n\nStart directly with the advertorial:\n\n```\n# Headline\n\nOpening paragraph...\n\nBody with fixes applied...\n\nFinal CTA.\n```\n\n**NO meta-commentary. NO explanations. Just the advertorial.**\n\n---\n\n**Execute all fixes now. Output the complete fixed advertorial.**",
        "options": {
          "systemMessage": "=# ROLE\n\nYou are a compliance fixer. Your ONLY job: execute the exact fixes specified in compliance feedback.\n\n**Your job is NOT to:**\n- Judge if the advertorial needs complete rewriting\n- Decide if there are \"too many\" violations\n- Question whether fixes will work\n- Improve the advertorial beyond what's specified\n- Add your own suggestions\n\n**Your job IS to:**\n- Read each violation's \"Fix Required\" instruction\n- Execute that exact instruction\n- Move to the next violation\n- Output the fixed advertorial\n\n**No judgment. No analysis. Just execute.**\n\n---\n\n# HOW THIS WORKS\n\nThe compliance feedback gives you a list of specific fixes:\n\n```\nViolation 1:\n- Issue: [what's wrong]\n- Evidence: \"[exact quote]\"\n- Fix Required: [specific instruction]\n```\n\n**Your process:**\n1. Read \"Fix Required\"\n2. Find the quoted text in advertorial\n3. Apply the fix exactly as instructed\n4. Repeat for all violations\n5. Output the complete fixed advertorial\n\n**That's it. Nothing more.**\n\n---\n\n# KEY PRINCIPLE\n\n**Even if there are 10 violations, your job is the same:**\n- Execute fix 1\n- Execute fix 2\n- Execute fix 3\n- ... continue through all fixes\n- Output result\n\n**Don't say:** \"This needs too many changes\" or \"This requires complete rewrite\"\n\n**Just do:** Apply each fix one by one, output result.\n\n---\n\n# EXECUTION EXAMPLES\n\n## Simple Fix: Replace Word\n\n**Feedback says:**\n```\nFix Required: Replace \"trick\" with \"tip\"\nEvidence: \"This simple trick can save...\"\n```\n\n**You do:**\n1. Find \"This simple trick can save...\"\n2. Change to \"This simple tip can save...\"\n3. Done\n\n---\n\n## Simple Fix: Add Qualifier\n\n**Feedback says:**\n```\nFix Required: Add \"from\" before price: \"from €2.50 per month\"\nEvidence: \"€2.50 per month for coverage\"\n```\n\n**You do:**\n1. Find \"€2.50 per month for coverage\"\n2. Change to \"from €2.50 per month for coverage\"\n3. Done\n\n---\n\n## Multiple Fixes\n\n**Feedback says:**\n```\nViolation 1: Replace \"trick\" with \"tip\"\nViolation 2: Add \"from\" to price\nViolation 3: Add \"up to\" before \"100%\"\n```\n\n**You do:**\n1. Fix violation 1\n2. Fix violation 2\n3. Fix violation 3\n4. Output complete advertorial\n\n**Don't worry about quantity. Just execute all fixes.**\n\n---\n\n# CRITICAL RULES\n\n## Rule 1: Follow Instructions Exactly\n\nIf feedback says: \"Replace X with Y\" → Replace X with Y\nIf feedback says: \"Add Z before A\" → Add Z before A\n\n**Don't improvise. Don't get creative. Follow the instruction.**\n\n## Rule 2: No Meta-Commentary\n\n❌ \"I've fixed 5 violations...\"\n❌ \"Here's the revised version...\"\n❌ \"Changes made: ...\"\n\n✅ Just output the fixed advertorial directly\n\n## Rule 3: Complete Content Only\n\nOutput the entire advertorial with fixes applied.\n\n**Start with:** Headline or opening line\n**End with:** CTA or conclusion\n**Include:** All content with fixes applied\n\n## Rule 4: Don't Question the Task\n\nEven if feedback lists many violations:\n- ❌ Don't refuse\n- ❌ Don't suggest starting over\n- ❌ Don't question if it's fixable\n- ✅ Just apply all fixes\n\n**Your job: Execute. Not evaluate.**\n\n---\n\n# OPTIONAL TOOL\n\nYou have access to `copywriting_guide` RAG for phrasing help.\n\n**Use ONLY if:**\n- Need natural phrasing for a complex fix\n- Feedback doesn't give exact wording\n- Want to maintain voice while fixing\n\n**Don't use if:**\n- Feedback gives exact replacement (just use it)\n- Simple word swap or addition\n- Fix is obvious\n\n**Most fixes won't need RAG.** Feedback is usually specific enough.\n\n---\n\n# OUTPUT FORMAT\n\n✅ **CORRECT:**\n```\n# Your Headline Here\n\nOpening paragraph with any fixes applied...\n\nBody content with fixes applied...\n\nFinal CTA with any fixes applied.\n```\n\n❌ **WRONG:**\n```\nI've applied the following 3 fixes:\n1. Replaced \"trick\" with \"tip\" ✓\n2. Added \"from\" to price ✓\n3. Added \"up to\" qualifier ✓\n\nHere's the result:\n# Your Headline Here\n...\n```\n\n**No preamble. No summary. Just the advertorial.**\n\n---\n\n# REMEMBER\n\nYou're a **fix executor**, not a **content evaluator**.\n\n**Compliance feedback = your instruction list**\n\nExecute every instruction. Output result. Done.\n\nEven if there are 1 violation or 20 violations, your job is the same:\n1. Read fix instructions\n2. Apply them\n3. Output fixed advertorial\n\n**Simple. Mechanical. Reliable.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2144,
        960
      ],
      "id": "0389b162-0fef-4f40-9b62-3c1898b1a5b9",
      "name": "Compliance Rewriter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Fields').item.json.campaignId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "generated_content",
              "fieldValue": "=https://docs.google.com/document/d/{{ $json.id }}/"
            },
            {
              "fieldId": "doc_name",
              "fieldValue": "={{ $('Filename').item.json.documentName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4096,
        768
      ],
      "id": "3f77cd00-e1fe-48d9-babf-456e9d92dbf3",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to look for scientific studies to help and back claims made in advertorial. The user will give an indication of what to look for.",
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"firecrawl web scraping\",\n  \"limit\": 3,\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\",\n      \"links\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -528,
        1248
      ],
      "id": "872607d4-1ed5-4e30-b1cf-2379c59daa31",
      "name": "Search + Scrape (Studies)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e9Vc48yBqkTjKAiz",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update Backend",
        "height": 224,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4016,
        704
      ],
      "typeVersion": 1,
      "id": "db3c22d2-06e7-439a-aae1-0aec135854ff",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f9bfc0c1-9c09-4db3-8aae-4edf518b57c2",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        32
      ],
      "id": "99d0a1d5-1895-4f6a-b118-fecb32f8d390",
      "name": "Webhook",
      "webhookId": "f9bfc0c1-9c09-4db3-8aae-4edf518b57c2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xLmlE2dwxz86e3I",
          "name": "Xevio-Adv-Builder-Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code Node: \"Mock Lazy Mode Webhook Data\"\n\nreturn {\n  json: {\n    headers: {\n      \"content-type\": \"application/json\"\n    },\n    params: {},\n    query: {},\n    body: {\n      campaignId: \"a1b2c3d4-5678-9abc-def0-1234567890ab\",\n      instructions: \"Rewrite this advertorial to target men aged 30-55 instead of women. Change all references to female hair loss patterns to male pattern baldness. Replace the testimonials with male names and experiences. Adjust the emotional angle from 'confidence and beauty' to 'looking younger and professional'. Keep the overall structure and flow the same, but make the first-person story about a man noticing thinning hair at work. The product benefits and science sections can stay mostly the same since the ingredients work for both genders, but frame the urgency around receding hairlines rather than thinning ponytails.\",\n      advertorialUrl: \"https://www.womenshealthmag.com/beauty/a68041028/hair-loss-treatments-women/\",\n      additionalLinks: [\n        {\n          url: \"https://www.healthline.com/health/male-pattern-baldness\",\n          description: \"Use this as a reference for male-specific hair loss facts, statistics, and terminology to make the rewrite authentic.\"\n        }\n      ],\n      referenceUrls: [\n        {\n          url: \"https://www.womenshealthmag.com/beauty/a68041028/hair-loss-treatments-women/\",\n          description: \"Reference advertorial\"\n        },\n        {\n          url: \"https://www.healthline.com/health/male-pattern-baldness\",\n          description: \"Use this as a reference for male-specific hair loss facts, statistics, and terminology to make the rewrite authentic.\"\n        }\n      ],\n      campaignType: \"Lead Generation\",\n      niche: \"Beauty\",\n      country: \"United States\",\n      language: \"English\",\n      length: \"keep_original\",\n      paragraphLength: \"Short (1-3 lines)\",\n      guidelines: \"Custom\",\n      customGuidelines: \"Don't promise hair regrowth or use the word 'cure'. Always say 'may help' or 'designed to support'. Include a disclaimer that individual results vary. Don't bash competitors like Rogaine or Keeps by name.\"\n    },\n    webhookUrl: \"https://manglarmedia.app.n8n.cloud/webhook/YOUR_LAZY_MODE_WEBHOOK_ID\",\n    executionMode: \"production\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -288
      ],
      "id": "543e2a51-226d-447a-a617-4e3fa91f5089",
      "name": "Lazy Mode Mock Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1408,
        -288
      ],
      "id": "77ccbdbb-13c6-47ec-ae29-88b0ea1d0fb4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the core product or service name from this advertorial. Return ONLY the product name in 2-5 words, capitalized properly.\n\nADVERTORIAL CONTENT:\n{{$json.advertorialContent}}\n\nRules:\n- Extract the main product or service being promoted (e.g., \"Hair Loss Treatments\", \"Dental Insurance\", \"Weight Loss Supplement\")\n- 2-5 words maximum\n- Capitalize each word\n- Remove marketing fluff (\"science-backed\", \"discover\", \"proven\", \"at-home\")\n- If multiple products are featured, name the category (e.g., \"Hair Loss Treatments\" not \"Minoxidil and Nutrafol\")\n- Return ONLY the product name — no explanation, no punctuation, no extra text\n\nProduct name:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2896,
        768
      ],
      "id": "23f96950-4e27-493e-9af5-ff9ceaed879d",
      "name": "Topic Extractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1123cc9c-922f-485d-919c-229b89b8ae98",
              "name": "campaignId",
              "value": "={{ $json.body.campaignId }}",
              "type": "string"
            },
            {
              "id": "724f5d9a-04e4-4959-9d64-f5433d48cfd0",
              "name": "instructions",
              "value": "={{ $json.body.instructions }}",
              "type": "string"
            },
            {
              "id": "d4581e24-778c-4852-ad4e-42c0cfe4a8cb",
              "name": "referenceUrls",
              "value": "={{ $json.body.referenceUrls }}",
              "type": "array"
            },
            {
              "id": "9866aeae-cbbb-4b30-ba96-c87ca426d281",
              "name": "campaignType",
              "value": "={{ $json.body.campaignType }}",
              "type": "string"
            },
            {
              "id": "8600aad8-f9de-4d7d-a826-b44c2a8139d4",
              "name": "niche",
              "value": "={{ $json.body.niche }}",
              "type": "string"
            },
            {
              "id": "d517c1f9-571c-4463-933e-7e54822d772e",
              "name": "country",
              "value": "={{ $json.body.country }}",
              "type": "string"
            },
            {
              "id": "7c6d7cdd-56ec-4f0f-935b-105c4f7d834b",
              "name": "language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            },
            {
              "id": "05424a2e-1b6a-4209-90e2-b8a76357ce91",
              "name": "length",
              "value": "={{ $json.body.length }}",
              "type": "string"
            },
            {
              "id": "6df0ab1d-3c8a-4180-8399-564abb49eea1",
              "name": "paragraphLength",
              "value": "={{ $json.body.paragraphLength }}",
              "type": "string"
            },
            {
              "id": "d3ebc1d1-f2ad-4587-8641-d9c6a6a5972e",
              "name": "guidelines",
              "value": "={{ $json.body.guidelines }}",
              "type": "string"
            },
            {
              "id": "2531bd19-7e7a-4fb0-9b7b-548f3c5534a6",
              "name": "customGuidelines",
              "value": "={{ $json.body.customGuidelines }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        32
      ],
      "id": "152fd7d5-0c56-42ef-83f9-cb6214a50e7f",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2864,
        944
      ],
      "id": "31f332ba-4d1b-4f26-b8d0-56921329315d",
      "name": "gemini-2.5-flash2",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "397f6725-6bc7-4449-86e4-b695146a4bce",
              "leftValue": "={{ $('Loop Over Items').item.json.referenceUrls.description }}",
              "rightValue": "=Reference advertorial",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        240
      ],
      "id": "434f5f43-18f8-4baf-9884-dd4dc415201e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd3fbab3-52f0-4510-add0-3f1645bf01fb",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.referenceUrls.url }}",
              "type": "string"
            },
            {
              "id": "c3a06d22-71e1-438f-968b-dd1b7ddadd2d",
              "name": "description",
              "value": "={{ $('Loop Over Items').item.json.referenceUrls.description }}",
              "type": "string"
            },
            {
              "id": "09e12ddb-2e92-4d51-917f-3d768cc61747",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "7477155a-f6fa-46e7-8b5a-34037aaa9ad0",
              "name": "word_count",
              "value": "={{ $json.word_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        208
      ],
      "id": "be9871cd-2c97-42fa-a915-58665de38076",
      "name": "Label result A"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd3fbab3-52f0-4510-add0-3f1645bf01fb",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.referenceUrls.url }}",
              "type": "string"
            },
            {
              "id": "c3a06d22-71e1-438f-968b-dd1b7ddadd2d",
              "name": "description",
              "value": "={{ $('Loop Over Items').item.json.referenceUrls.description }}",
              "type": "string"
            },
            {
              "id": "09e12ddb-2e92-4d51-917f-3d768cc61747",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        416
      ],
      "id": "53730655-573f-4bd4-9016-eb941614a9b7",
      "name": "Label result B"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Clean the following scraped advertorial markdown and return only the formatted copy.\n\nRemove all noise (links, image URLs, metadata, navigation bleed, scraping artifacts). Preserve all actual copy in its original order. Add descriptive placeholders only where removing an element would break the narrative flow.\n\n---\n\n{{ $json.output }}",
        "options": {
          "systemMessage": "=You are a copy extraction specialist. Your job is to take messy scraped markdown from an advertorial page and return clean, readable copy — exactly as a human editor would prepare a document for a copywriter to work from.\n\nYou are not summarizing. You are not analyzing. You are cleaning and reconstructing the text so the copy is fully readable, in the correct order, with nothing missing and nothing extraneous.\n\n---\n\nWHAT TO KEEP\n- All body copy, headlines, subheadlines, and paragraph text\n- Testimonials and quotes (preserve the speaker name if present)\n- CTAs and button text\n- Captions that carry meaning\n- List items and bullet points\n- Any text that is part of the advertorial's narrative or argument\n\nWHAT TO REMOVE\n- Raw URLs and markdown link syntax (e.g., [text](https://...) → keep only the anchor text if it reads naturally, drop it if it's just a URL)\n- Image filenames, CDN URLs, and image dimension parameters\n- Author bylines, publication dates, \"reviewed by\" tags, reading time indicators\n- Site navigation, related article links, newsletter prompts, pull-up plan promotions, and other off-page content that bled into the markdown\n- Cookie notices, affiliate disclosures, and legal boilerplate unless they are part of the advertorial's visible body copy\n- Duplicate content caused by scraping artifacts\n\nWHAT TO REPLACE WITH PLACEHOLDERS\nWhere removing an element would break the flow or leave a gap in the narrative, insert a bracketed placeholder instead of leaving nothing. Use clear, descriptive labels:\n\n- [IMAGE: brief description of what the image likely showed]\n- [VIDEO: brief description]\n- [CHART: brief description]\n- [TESTIMONIAL PHOTO: name if known]\n- [CTA BUTTON: button text if known]\n- [PRODUCT WIDGET: product name if known]\n\nOnly add a placeholder if something was genuinely there and its absence would confuse a reader following the copy flow.\n\n---\n\nFORMATTING\n- Use clean markdown: # for main headline, ## for subheadlines, ### for section headers\n- Preserve paragraph breaks as they appear in the original\n- Preserve list formatting (bullets or numbered) where used in the original\n- Do not rewrite, rephrase, or improve the copy — output the original words\n- Do not add commentary, notes, or explanations about what you removed\n\n---\n\nOUTPUT\nReturn only the cleaned copy. Nothing before it, nothing after it."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        64
      ],
      "id": "bbbac9ec-f722-4764-b3c0-260b974627fc",
      "name": "Copy Extractor"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "da6fb750-cb89-4fcf-b832-1803b67f4b0a",
      "name": "sonnet-4.6",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        464
      ],
      "id": "850b9dcd-a099-4d08-ad41-bafed507f7ca",
      "name": "sonnet-4.6-2",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1456,
        1472
      ],
      "id": "1cdaa65f-217d-40f8-95be-08bf93ba20e6",
      "name": "sonnet-4.6-3",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output;\n\n// Strip markdown formatting before counting\nconst stripped = text\n  .replace(/#{1,6}\\s/g, '')           // headings\n  .replace(/\\*\\*?(.*?)\\*\\*?/g, '$1') // bold/italic\n  .replace(/~~(.*?)~~/g, '$1')        // strikethrough\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // markdown links → keep anchor text\n  .replace(/\\[IMAGE:[^\\]]+\\]/g, '')   // image placeholders\n  .replace(/\\[VIDEO:[^\\]]+\\]/g, '')   // video placeholders\n  .replace(/\\[CHART:[^\\]]+\\]/g, '')   // chart placeholders\n  .replace(/\\[CTA BUTTON:[^\\]]+\\]/g, '')\n  .replace(/\\[PRODUCT WIDGET:[^\\]]+\\]/g, '')\n  .replace(/[-*_]{3,}/g, '')          // horizontal rules\n  .replace(/\\n+/g, ' ')              // newlines to spaces\n  .trim();\n\nconst wordCount = stripped\n  .split(/\\s+/)\n  .filter(word => word.length > 0).length;\n\nreturn {\n  output: text,        // pass original content through\n  word_count: wordCount\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        64
      ],
      "id": "092e9003-afe7-4be8-9766-f459757e9a9f",
      "name": "Word counter"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst urls = data.scrapedUrls;\n\nconst advertorialUrl = urls.find(u => u.description === \"Reference advertorial\") || null;\nconst referenceUrls = urls.filter(u => u.description !== \"Reference advertorial\");\n\nreturn {\n  advertorialUrl,\n  referenceUrls\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        48
      ],
      "id": "f3d3871e-50b0-4e6e-ba16-41acec81195a",
      "name": "Split original"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "765fcf39-bb99-483b-a4c9-e4f3b13cea44",
              "name": "instructions",
              "value": "={{ $('Extract Fields').item.json.instructions }}",
              "type": "string"
            },
            {
              "id": "24df4d4a-7f8c-4af9-ae71-7fa9c9b8931e",
              "name": "campaignContext.campaignType",
              "value": "={{ $('Extract Fields').item.json.campaignType }}",
              "type": "string"
            },
            {
              "id": "87aa02b8-7902-481a-a943-11c781c3aaa0",
              "name": "campaignContext.niche",
              "value": "={{ $('Extract Fields').item.json.niche }}",
              "type": "string"
            },
            {
              "id": "0190c0b7-d0f7-40a2-815a-1ee173cc57d9",
              "name": "campaignContext.country",
              "value": "={{ $('Extract Fields').item.json.country }}",
              "type": "string"
            },
            {
              "id": "9c585a48-727e-41a2-861a-fd9c7ae39da4",
              "name": "campaignContext.language",
              "value": "={{ $('Extract Fields').item.json.language }}",
              "type": "string"
            },
            {
              "id": "1b1afdd6-9a54-4e9c-bee5-7acee6dd1411",
              "name": "campaignContent.targetLength",
              "value": "={{ $('Extract Fields').item.json.length }}",
              "type": "string"
            },
            {
              "id": "e6362512-32cf-4525-8ae8-aadb72c1e31a",
              "name": "campaignContent.paragraphLength",
              "value": "={{ $('Extract Fields').item.json.paragraphLength }}",
              "type": "string"
            },
            {
              "id": "44017c6c-c6fc-4be8-b58a-e2d1944fcfe3",
              "name": "clientGuidelines",
              "value": "={{ $('Extract Fields').item.json.guidelines }}",
              "type": "string"
            },
            {
              "id": "f57dda84-49df-41cb-a5ab-24dcd94d3a85",
              "name": "customGuidelines",
              "value": "={{ $('Extract Fields').item.json.customGuidelines }}",
              "type": "string"
            },
            {
              "id": "daaaf735-fb2f-42e5-b4de-eabdf16f1d49",
              "name": "advertorialUrl",
              "value": "={{ $json.advertorialUrl }}",
              "type": "object"
            },
            {
              "id": "e25cb554-17f5-4e64-a7ff-33187c57e8a5",
              "name": "referenceUrls",
              "value": "={{ $json.referenceUrls }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        48
      ],
      "id": "5086a384-9d1f-468f-a4da-8449995234af",
      "name": "Writer Variables"
    },
    {
      "parameters": {
        "content": "## Frontend Data",
        "height": 288,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        -64
      ],
      "typeVersion": 1,
      "id": "fc97b944-947f-4269-b46a-660c59b876d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get AI extracted topic from Topic Extractor (immediate input)\nconst aiTopic = $input.first().json.output || 'Advertorial';\n\n// Get campaign context and advertorial content from Set node\nconst campaignContext = $('Content + context').first().json.campaignContext;\nconst advertorialContent = $('Content + context').first().json.advertorialContent;\n\n// Campaign type abbreviation\nconst campaignTypeMap = {\n  'Lead Generation': 'LEAD',\n  'E-commerce': 'ECOM',\n  'ecommerce': 'ECOM'\n};\nconst campaignType = campaignTypeMap[campaignContext.campaignType] || 'DRAFT';\n\n// Country to ISO code\nconst countryMap = {\n  'United States': 'US',\n  'United Kingdom': 'UK',\n  'Canada': 'CA',\n  'Germany': 'DE',\n  'France': 'FR',\n  'Spain': 'ES',\n  'Italy': 'IT',\n  'Netherlands': 'NL',\n  'Australia': 'AU'\n};\nconst country = countryMap[campaignContext.country] || 'XX';\n\n// Date (dd.mm.yyyy)\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = now.getFullYear();\nconst date = `${day}.${month}.${year}`;\n\n// Build filename\nconst documentName = `${campaignType} - ${aiTopic} - ${country} - ${date}`;\n\nconsole.log('📄 Generated filename:', documentName);\n\nreturn {\n  json: {\n    documentName,\n    aiExtractedTopic: aiTopic,\n    advertorialContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3168,
        768
      ],
      "id": "6c8bed57-f50d-46fa-9d0a-ac6e670cabea",
      "name": "Filename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c72315f0-2cc4-4638-b2eb-52ae2a0c9ae2",
              "name": "advertorialContent",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "e7e6db9a-bb55-4cac-9711-3a06f15ffb81",
              "name": "campaignContext",
              "value": "={{ $('Writer Variables').item.json.campaignContext }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2736,
        768
      ],
      "id": "fbf7c376-d29e-4dda-bf0d-53314e55c374",
      "name": "Content + context"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output;\n\nfunction extractAdvertorial(text) {\n  // Strategy 1: Split on horizontal rule\n  const hrSplit = text.split(/\\n---+\\n/);\n  if (hrSplit.length > 1) {\n    const firstPart = hrSplit[0];\n    const metaPhrases = /ready to write|i'll craft|i will craft|based on my research|let me write|here's what i'll|the tool result|task is straightforward|trim|tighten|i have enough context/i;\n    if (metaPhrases.test(firstPart) && firstPart.length < 1000) {\n      return hrSplit.slice(1).join('\\n---\\n').trim();\n    }\n  }\n\n  // Strategy 2: Find first real heading\n  const lines = text.split('\\n');\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (/^#\\s+/.test(line)) {\n      const metaHeadings = /ready to write|i'll craft|i will craft|based on|let me|here's what/i;\n      if (!metaHeadings.test(line)) {\n        return lines.slice(i).join('\\n').trim();\n      }\n    }\n  }\n\n  return text.trim();\n}\n\nconst cleanContent = extractAdvertorial(rawOutput);\n\nreturn {\n  json: {\n    output: cleanContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        912
      ],
      "id": "3f275f1c-5422-4ae8-b51c-e6b0d66800fb",
      "name": "Cleaner"
    }
  ],
  "pinData": {},
  "connections": {
    "Scrape": {
      "main": [
        [
          {
            "node": "Markdown Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Markdown Cleaner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown Cleaner": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page Analyzer": {
      "main": [
        [
          {
            "node": "Label result B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split original",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pattern_library": {
      "ai_tool": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "pattern_library",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "copywriting_guide",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "copywriting_guide": {
      "ai_tool": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Sanity Rewriter",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Compliance Rewriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Advertorial Writer": {
      "main": [
        [
          {
            "node": "Cleaner + Word Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Doc Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doc Fields": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Agent": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash-2": {
      "ai_languageModel": [
        [
          {
            "node": "Sanity Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ERGO Compliance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ERGO Compliance": {
      "main": [
        [
          {
            "node": "Check Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback": {
      "main": [
        [
          {
            "node": "Compliant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Original": {
      "main": [
        [
          {
            "node": "Guidelines Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revised": {
      "main": [
        [
          {
            "node": "Guidelines Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaner + Word Counter": {
      "main": [
        [
          {
            "node": "Sanity Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Sanity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Rewriter": {
      "main": [
        [
          {
            "node": "Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Check": {
      "main": [
        [
          {
            "node": "Original",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanity Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guidelines Check": {
      "main": [
        [
          {
            "node": "FINAL 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERGO Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliant?": {
      "main": [
        [
          {
            "node": "FINAL 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compliance Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 1": {
      "main": [
        [
          {
            "node": "Content + context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 2": {
      "main": [
        [
          {
            "node": "Content + context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 3": {
      "main": [
        [
          {
            "node": "Content + context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Rewriter": {
      "main": [
        [
          {
            "node": "FINAL 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Lazy Mode Mock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Extractor": {
      "main": [
        [
          {
            "node": "Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash2": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lazy Mode Mock Data": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Copy Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Page Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label result A": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label result B": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Extractor": {
      "main": [
        [
          {
            "node": "Word counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sonnet-4.6": {
      "ai_languageModel": [
        [
          {
            "node": "Copy Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "sonnet-4.6-2": {
      "ai_languageModel": [
        [
          {
            "node": "Page Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "sonnet-4.6-3": {
      "ai_languageModel": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sanity Rewriter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Compliance Rewriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Word counter": {
      "main": [
        [
          {
            "node": "Label result A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split original": {
      "main": [
        [
          {
            "node": "Writer Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Variables": {
      "main": [
        [
          {
            "node": "Advertorial Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filename": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content + context": {
      "main": [
        [
          {
            "node": "Topic Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaner": {
      "main": [
        [
          {
            "node": "Revised",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fd5132c-0b93-4758-afff-9ac779a34a76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d13ac94932aa15ce393c2710b6b540a9393b919f6fb77e7fb7f889daafb646"
  },
  "id": "CI66L4NQu8bvEcxg",
  "tags": [
    {
      "updatedAt": "2026-02-19T21:16:05.495Z",
      "createdAt": "2025-10-15T23:14:15.940Z",
      "id": "2tVWdWLl7flgyRol",
      "name": "BUILDER"
    }
  ]
}