n8n/ADVB - Writer.json
{
  "name": "ADVB - Writer",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieves proven copywriting examples from high-performing advertorials. Use this tool when you need inspiration for WHAT has worked in similar contexts.\n\nQuery this tool for:\n- Real examples of specific section types (headlines, CTAs, intros, discovery sections)\n- Patterns matching your target audience (seniors, homeowners, professionals, etc.)\n- Patterns matching your campaign angle (problem-solution, quality, convenience)\n- Patterns with specific psychological triggers (urgency, social proof, curiosity)\n- High-performing patterns (Winners vs. Solid performers)\n\nExample queries:\n- \"Show me headline examples for seniors with problem-solution angle\"\n- \"Find CTA patterns with urgency trigger that performed well\"\n- \"Get social proof examples for UK audience with empathetic tone\"\n- \"Find intro patterns targeting homeowners with pain points\"\n\nEach pattern includes:\n- The exact text example from a real advertorial\n- Performance tier (Winner or Solid)\n- Effectiveness analysis explaining WHY it worked\n- Context tags (audience, angle, tone, triggers)\n\nCRITICAL: Use patterns for INSPIRATION only. Adapt the structure and psychology to your brief. Never copy exact text.",
        "tableName": {
          "__rl": true,
          "value": "pattern_library",
          "mode": "list",
          "cachedResultName": "pattern_library"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1456,
        400
      ],
      "id": "4b460e50-9bb2-4e42-b6c9-bac9fafa4feb",
      "name": "pattern_library",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1728,
        608
      ],
      "id": "f9f1f204-1631-4b9b-847f-3b19859b7c97",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ICAy4inGUaeprnDP",
          "name": "OpenAI account (David)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Retrieves best practices, formulas, and writing guidelines from the Advertorial Copywriting Guide. Use this tool when you need to know HOW to write a specific section type (headlines, CTAs, intros, etc.). \n\nQuery this tool for:\n- Structural requirements (word counts, formatting rules, paragraph length)\n- Writing formulas and templates (e.g., \"curiosity headline formulas\")\n- Tone and vocabulary guidelines (what to use, what to avoid)\n- Psychological trigger applications (urgency, social proof, authority)\n- Section-specific best practices (how to write customer stories, cost comparisons, FAQs)\n\nExample queries:\n- \"How do I write a problem-focused headline?\"\n- \"What's the CTA progression strategy?\"\n- \"How should I structure social proof sections?\"\n- \"What tone should I use for senior audiences?\"\n\nThis tool provides RULES and FRAMEWORKS, not examples. For proven examples, use the Pattern Library tool.",
        "tableName": {
          "__rl": true,
          "value": "copywriting_guide",
          "mode": "list",
          "cachedResultName": "copywriting_guide"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2624,
        400
      ],
      "id": "12158cf2-4ae8-4417-9e72-1eaf656a5b3b",
      "name": "copywriting_guide",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ADVERTORIAL WRITING BRIEF\n\nWrite a complete advertorial following the structure and context below.\n\n---\n\n## CAMPAIGN BRIEF (PRIMARY SOURCE)\n\n{{ $json.campaignContext.topic }}\n\n**This is your primary directive.** The advertorial must deliver on this topic. All insights and patterns serve this brief—not the other way around.\n\n---\n\n## CAMPAIGN CONTEXT\n\n**Campaign Type:** {{ $json.campaignContext.campaignType }}  \n**Niche:** {{ $json.campaignContext.niche }}  \n**Target Country:** {{ $json.campaignContext.country }}  \n**Language:** {{ $json.campaignContext.language }} ⚠️ OUTPUT MUST BE 100% IN THIS LANGUAGE\n\n**Target Length:** {{ $json.campaignContent.targetLength }} words  \n**Paragraph Style:** {{ $json.campaignContent.paragraphLength }}\n\n---\n\n## SELECTED INSIGHTS\n\nThe user has curated the following insights as raw material. Use them strategically—adapt and rewrite, don't copy verbatim.\n\n### USPs (Unique Selling Points)\n{{ $json.selectedInsights.usps.map(usp => '- ' + usp).join('\\n') }}\n\n### Pricing Information\n{{ $json.selectedInsights.pricing.map(price => '- ' + price).join('\\n') }}\n\n### Main Angle\n{{ $json.selectedInsights.mainAngle.map(angle => '- ' + angle).join('\\n') }}\n\n### Tone of Voice\n{{ $json.selectedInsights.toneOfVoice.map(tone => '- ' + tone).join('\\n') }}\n\n### Key Hooks\n{{ $json.selectedInsights.keyHooks.map(hook => '- ' + hook).join('\\n') }}\n\n---\n\n{{ $json.customGuidelines ? '## COMPLIANCE REQUIREMENTS\\n\\nThe following restrictions must be observed in your writing:\\n\\n' + $json.customGuidelines + '\\n\\n**Important:** Follow these restrictions strictly, but continue writing compelling, conversion-focused copy. Work within these constraints creatively.\\n\\n---\\n' : '' }}\n\n{{ $json.globalRules }}\n\n{{ $json.blockStructure }}\n\n---\n\n# YOUR TASK\n\nWrite the complete advertorial in markdown format following the structure above.\n\n**For each section:**\n1. Query **copywriting_guide** for tone requirements and formulas\n2. Query **pattern_library** for proven examples (inspiration only—never copy)\n3. Write original content that serves the Campaign Brief using Selected Insights as raw material\n4. Respect all compliance requirements\n\n**Before outputting, verify:**\n- Language matches the brief ({{ $json.campaignContext.language }})\n- Content aligns with the Campaign Brief topic\n- All headlines are original and make logical sense\n\n**CRITICAL: Output ONLY the advertorial content in markdown format. Do not include any introduction, explanation, or meta-commentary before or after the content. Your response must start immediately with `#` (the headline). No preamble. Just the advertorial in markdown.**\n\nBegin writing now.",
        "options": {
          "systemMessage": "=# ROLE & MISSION\n\nYou are an expert advertorial copywriter specializing in native advertising. Your job is to write complete, high-converting advertorials that feel editorial and helpful, not salesy.\n\n**Your singular focus:** Create compelling, conversion-optimized copy using proven patterns and principles.\n\nYou have access to two essential tools:\n1. **copywriting_guide** - Writing rules, formulas, tone guidelines\n2. **pattern_library** - Proven examples from high-performing advertorials\n\nUse these tools strategically to write original, persuasive content.\n\n---\n\n# CRITICAL CONSTRAINTS\n\nThese are non-negotiable requirements that override all other considerations.\n\n## 1. Language Enforcement\n**Write the ENTIRE advertorial in the language specified in the brief.**\n\n- The brief specifies the output language—follow it exactly\n- Reference materials and insights may be in a different language—ignore their language\n- This applies to everything: headlines, body copy, CTAs, quotes, testimonials\n- Zero exceptions. If the brief says English, every word is English.\n\n## 2. Source Hierarchy\nYour inputs have different authority levels:\n\n**PRIMARY: Campaign Brief**\n- The user's topic description defines what this advertorial is about\n- It sets the creative direction, angle, and core message\n- When other inputs conflict with the brief, follow the brief\n\n**SECONDARY: Selected Insights**\n- USPs, pricing, hooks, tone—these are raw materials to build from\n- Adapt them to serve the brief's direction\n- Use them as inspiration, not as copy-paste content\n\n**TERTIARY: Pattern Library**\n- Structure and psychological techniques only\n- Never copy wording from patterns\n\n## 3. Originality Requirement\nAll output must be original writing. This includes:\n- Headlines (never copy reference headlines)\n- Hooks (extract the psychology, write fresh words)\n- CTAs (create new variations)\n- Body copy (synthesize insights into original prose)\n\nSelected Insights are ingredients, not finished dishes. Transform them.\n\n---\n\n# YOUR TOOLS\n\n## copywriting_guide (Writing Standards)\n**Use when:** You need guidance on HOW to write effectively\n\n**Contains:**\n- Tone and voice requirements\n- Sentence structure and readability rules\n- Formulas for headlines, CTAs, social proof\n- Psychological trigger applications\n- Formatting standards\n\n**Example queries:**\n- \"What tone should I use for problem-focused intros?\"\n- \"How do I structure a low-friction CTA?\"\n- \"What are the headline formula best practices?\"\n- \"How should I format bullet lists for benefits?\"\n\n---\n\n## pattern_library (Proven Examples)\n**Use when:** You need inspiration from what actually converted\n\n**Contains:**\n- Real advertorial elements from successful campaigns\n- Performance tier (Winner/Solid)\n- Audience, angle, and emotional tone tags\n- Effectiveness analysis\n\n**Example queries:**\n- \"headline patterns for adults_30_60 audience\"\n- \"CTA patterns with urgency angle\"\n- \"social proof examples with empathetic tone\"\n- \"problem-solution patterns for health niche\"\n\n**CRITICAL:** Patterns are for INSPIRATION only. Adapt the structure and psychology, but write 100% original content. Never copy exact wording.\n\n---\n\n# COMPLIANCE & RESTRICTIONS\n\n**When compliance requirements are provided in the brief:**\n- Treat them as hard constraints you must work within\n- Follow all restrictions explicitly (e.g., \"don't mention X\", \"avoid claiming Y\")\n- Still write compelling, conversion-focused copy within those boundaries\n- Be creative in how you work around restrictions\n\n**The goal:** Respect the rules while maximizing persuasive impact.\n\n**Note:** Your output may undergo additional compliance review, but that doesn't excuse you from following explicit restrictions in your brief.\n\n---\n\n# QUALITY STANDARDS\n\n## Tone Requirements\n- **Conversational:** Like a helpful journalist, not a salesperson\n- **Educational:** Teaching, not selling\n- **Empathetic:** Understanding the reader's struggle\n- **Solution-oriented:** Hopeful and encouraging\n\n**Avoid:** Hype, clickbait, aggressive sales language, overly formal voice\n\n## Structure Requirements\n- **Sentence length:** 15-20 words average, mix short (5-8) with longer (25-30)\n- **Paragraph length:** 1-4 sentences maximum, generous white space\n- **Reading level:** 8th-10th grade, avoid jargon unless explained\n- **Transitions:** Natural flow between sections\n\n## Content Requirements\n- **Selected Insights:** The user has curated specific USPs, pricing, angles, tone preferences, and hooks. Use these as raw material:\n  - **USPs:** Distribute across benefits, solution, and social proof sections\n  - **Pricing:** Feature prominently in Price Explainer section\n  - **Main Angle:** Should inform overall narrative approach\n  - **Tone of Voice:** Follow these style guidelines throughout\n  - **Key Hooks:** Extract the psychological trigger or angle, then write an ORIGINAL hook. Never use verbatim text—rewrite completely while preserving the underlying appeal.\n- **Consistency:** Maintain consistent tone, claims, and narrative arc throughout\n\n---\n\n# HEADLINE QUALITY STANDARDS\n\nHeadlines are critical. Every headline must meet these criteria:\n\n**Required:**\n1. **Logical coherence** - Read it literally. Does it make sense as a statement?\n2. **Specificity** - Clearly relates to the product/topic in the brief\n3. **Reader value** - Creates curiosity or promises a clear benefit\n4. **Brief alignment** - Matches the campaign brief's angle and message\n\n**Red flags to avoid:**\n- Nonsensical or confusing statements\n- Generic clickbait that could apply to any product\n- Verbatim copies of reference page headlines\n- Headlines that contradict the brief's product or angle\n\n**Quick test:** Would a real publication print this headline? Does it make sense out of context?\n\n---\n\n# OUTPUT FORMAT REQUIREMENT\n\n**CRITICAL:** Your output MUST be in markdown format. This is non-negotiable.\n\nUse proper markdown structure:\n- `#` for main headline\n- `##` for major section headers\n- `###` for subsections\n- `**bold**` for emphasis and statistics\n- `*italics*` for quotes and emotional emphasis\n- `>` for blockquotes (testimonials)\n- Bullets (`-`) and numbered lists (`1.`)\n- Blank lines between paragraphs\n\n**Your response must START IMMEDIATELY with `#` (the main headline).**\n\nDo not include any meta-commentary or process description:\n- \"Here's the advertorial...\"\n- \"I'll write...\"\n- \"Based on the patterns...\"\n\n**Output = the advertorial only. First character = `#`**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        912,
        32
      ],
      "id": "ce7205c2-4240-4a14-b859-5c51dec3d0b0",
      "name": "Advertorial Writer"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2832,
        608
      ],
      "id": "bb34cb82-7172-4043-9a71-7295899253d8",
      "name": "sonnet-4.5",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        4304,
        -96
      ],
      "id": "f96a7247-9569-41f6-8081-6efbf3ce3515",
      "name": "Markdown"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42",
              "name": "document_name",
              "value": "={{ $('Writer Brief').item.json.documentName }}",
              "type": "string"
            },
            {
              "id": "48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6",
              "name": "html_content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "22b02fba-ba72-423a-b92f-1191a183a554",
              "name": "drive_folder_id",
              "value": "1-IgPiz_dedSQ1OzEkLa7ZLLyJlISNEG_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        -96
      ],
      "id": "bf8631c2-8ed3-4f1e-96be-af2a467161b7",
      "name": "Doc Fields",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4624,
        -96
      ],
      "id": "49245a8e-fc61-429d-b271-27421b1a5d60",
      "name": "Prepare Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "uploadType",
              "value": "multipart"
            },
            {
              "name": "supportsAllDrives",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=divider",
        "body": "={{ $json.rawData }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4800,
        -96
      ],
      "id": "50053100-e00a-432a-beef-5dacc5ce7beb",
      "name": "Create Google Doc",
      "notesInFlow": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rWnUsjpWUnxBFCDZ",
          "name": "Google Drive (MM)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BUILD BLOCK STRUCTURE v3.2\n// Assembles advertorial structure + detects global writing rules\n// Updated: Feb 19, 2026\n// ============================================\n\nconst inputData = $input.first().json;\nconst data = Array.isArray(inputData) ? inputData[0] : inputData;\n\nif (!data?.structureBlocks) {\n  throw new Error('❌ structureBlocks not found in input');\n}\n\nconst structureBlocks = data.structureBlocks;\n\n// ============================================\n// BLOCK TEMPLATES\n// All 30 blocks with prompts and input handling\n// ============================================\n\nconst blockTemplates = {\n  \"Lede (Journalistic)\": {\n    prompt: \"Write a journalistic-style opening paragraph. Focus clearly on a specific problem you can identify based on the TOPIC and SELECTED INSIGHTS. The tone should be attention-grabbing, similar to how a tabloid would open a story. Do not mention the product.\",\n    inputType: null\n  },\n  \n  \"Lede (Story, First Person)\": {\n    prompt: \"Write a personal introduction in first-person perspective. The narrator describes a problem or experience that is typical for the target audience of the proposed campaign. Keep it authentic and relatable. Do not mention the product yet.\",\n    inputType: null\n  },\n  \n  \"Lede (Product-Focused)\": {\n    prompt: \"Write a direct, product-focused introduction. Immediately highlight what the product solves especially well, without sounding overly promotional. Clear, precise, concrete.\",\n    inputType: null\n  },\n  \n  \"Authority\": {\n    prompt: \"Include a brief section introducing (X). Establish this person's credibility or expertise without exaggeration.\",\n    inputType: \"text\",\n    placeholder: \"(X)\",\n    fallback: \"an industry expert with recognized credentials\"\n  },\n  \n  \"(X) Reasons For…\": {\n    prompt: \"Create a list with (X) clear, logical, short reasons why this topic/product/problem matters. Each reason should be concise and easy to understand.\",\n    inputType: \"numeric\",\n    placeholder: \"(X)\",\n    fallback: \"3 to 5\"\n  },\n  \n  \"Problem Awareness Paragraph\": {\n    prompt: \"Write a paragraph explaining the core problem the target audience faces. Use concrete, relatable situations to make the problem feel real. Do not mention any solutions. If more than one core problem is identifiable, describe them as well.\",\n    inputType: null\n  },\n  \n  \"Listicle Intro\": {\n    prompt: \"Write a short introduction for a listicle. Explain what was tested, compared, or reviewed, and include test categories you invent that make sense for the topic.\",\n    inputType: null\n  },\n  \n  \"Listicle (Product Comparison)\": {\n    prompt: \"Search online for competitors of the focus product of the advertorial. Identify (X) competitors. Create a typical product comparison list in which you grade the competitors across the test categories you invented, and include a short conclusion for each competitor. Then create the same evaluation for the product. Ensure it receives better grades and a more comprehensive, more convincing positive conclusion.\",\n    inputType: \"numeric\",\n    placeholder: \"(X)\",\n    fallback: \"3\"\n  },\n  \n  \"Solution (Product Introduction)\": {\n    prompt: \"Describe the solution to the problem by introducing the product. Explain its purpose and benefits clearly and in a structured way, without exaggeration.\",\n    inputType: null\n  },\n  \n  \"Unique Mechanism\": {\n    prompt: \"Explain the product's unique mechanism or core functional principle. Make clear why this mechanism differs from existing solutions. The unique mechanism must be logical, easy to understand, and convincing. Use information from the SELECTED INSIGHTS where helpful.\",\n    inputType: null\n  },\n  \n  \"Killing Concerns\": {\n    prompt: \"List the audience's common objections and counter them one by one, in a clear and believable way. Search online for real user objections related to products similar to the one from this campaign, and address these objections.\",\n    inputType: null\n  },\n  \n  \"Bullet Points (Benefits)\": {\n    prompt: \"Create a bullet list of clear, tangible benefits of the product. Each benefit should be explained in a very short sentence. Start each bullet point with a leading keyword (Example: 'Completely pain-free: The device leaves no pressure marks or irritation during use.').\",\n    inputType: null\n  },\n  \n  \"Bullet Points (Current Problems)\": {\n    prompt: \"Create a bullet list describing the problems the target audience currently experiences. Keep it short, sharp, and relatable. Start each bullet point with a leading keyword (Example: 'Constant discomfort: Everyday movements feel tiring and stressful.').\",\n    inputType: null\n  },\n  \n  \"Future Me (Psychological Benefits)\": {\n    prompt: \"Write a paragraph describing how the reader's future self feels after using the product. Focus entirely on emotional relief and positive life changes. The technical functioning is irrelevant here. Good example: 'I can play soccer with my grandkids again.' Bad example: 'The cream reduced the inflammation in my knee.'\",\n    inputType: null\n  },\n  \n  \"Trust Elements\": {\n    prompt: \"Create a short trust block that explains which independent seals, media mentions (e.g. seen on), or ratings (e.g. Trustpilot) build credibility. Do not invent fake claims. Use only elements available from the SELECTED INSIGHTS or specified somewhere else in the brief.\",\n    inputType: null\n  },\n  \n  \"Social Proof (Reviews)\": {\n    prompt: \"Write 2–3 short, believable customer reviews. Each review should highlight a different angle (effect, feeling, result).\",\n    inputType: null\n  },\n  \n  \"Call to Urgency\": {\n    prompt: \"Write a single sentence that creates urgency without being manipulative. Emphasize timing, opportunity, limited availability, or the benefits of acting early. Use inspiration from the SELECTED INSIGHTS where appropriate.\",\n    inputType: null\n  },\n  \n  \"Scarcity\": {\n    prompt: \"Write a short, factual scarcity message. Explain why the offer is limited (e.g., stock, time window, production capacity). Base this on information from the SELECTED INSIGHTS.\",\n    inputType: null\n  },\n  \n  \"Discount\": {\n    prompt: \"Explain the available discount of (X percent/amount). Clarify how long it is valid and how the user can redeem it.\",\n    inputType: \"text\",\n    placeholder: \"(X percent/amount)\",\n    fallback: null // Special handling - use generic urgency prompt instead\n  },\n  \n  \"Price Explainer\": {\n    prompt: \"Explain the product's or service price in a clear, understandable way. Describe why the price is fair and why it may be a better choice than a cheaper competitor. Do not invent claims, but be creative in shaping valid reasons.\",\n    inputType: null\n  },\n  \n  \"Next Steps Explainer\": {\n    prompt: \"Describe, in simple terms, what happens after the user clicks. Show the full path to purchase or lead completion using numbered bullet points (steps). Base this on the SELECTED INSIGHTS.\",\n    inputType: null\n  },\n  \n  \"FAQ\": {\n    prompt: \"Create 3–6 frequently asked questions with clear, helpful answers. The questions should reflect real concerns the target audience might have, derived from the SELECTED INSIGHTS.\",\n    inputType: null\n  },\n  \n  \"Placeholder for Image / GIF / Chart\": {\n    prompt: \"Insert this placeholder text: Placeholder for Image / GIF / Chart.\",\n    inputType: \"text-append\", // Special type - append user notes\n    placeholder: null\n  },\n  \n  \"Teaser\": {\n    prompt: \"Write a short, click-driving teaser that triggers the main curiosity or problem.\",\n    inputType: null\n  },\n  \n  \"Subheadline\": {\n    prompt: \"Write an attention-grabbing subheadline that increases interest and guides the reader mentally through the advertorial.\",\n    inputType: null\n  },\n  \n  \"CTA\": {\n    prompt: \"Write a direct, clear call-to-action. Maximum 60 characters, ideally around 30. Must contain a specific action.\",\n    inputType: null\n  },\n  \n  \"Expert Testimonial (Quote)\": {\n    prompt: \"Write a short, credible quote from the perspective of a {ROLE}. The quote should explain why the product is helpful or trustworthy.\",\n    inputType: \"select\",\n    placeholder: \"{ROLE}\",\n    fallback: \"satisfied customer\"\n  },\n  \n  \"Studies/Research\": {\n    prompt: `Reference a credible scientific study based on this input: {STUDY INPUT}.\n\nIf a URL was provided: Use that specific study and explain its findings. If a study description was provided: Search online to locate that specific study, then reference it. If only a topic/claim was provided: Search online for a credible study from authoritative sources (peer-reviewed journals, university research, medical institutions, government agencies) that supports the topic.\n\nPresent the study in this structure:\n1. State the key finding in plain, accessible language\n2. Cite the source (institution, journal, or organization)\n3. Connect the finding to the product/service\n\nKeep the tone credible but accessible. Never invent or fabricate studies. If no credible study exists, state this clearly rather than forcing a connection.`,\n    inputType: \"text\",\n    placeholder: \"{STUDY INPUT}\",\n    fallback: \"the main claims or benefits of the product/service discussed in this advertorial. Use the campaign topic and selected insights to guide your search for relevant peer-reviewed or institutional research\"\n  },\n  \n  \"Diary (1st Person)\": {\n    prompt: \"Like in a diary, the author describes his/her experience with the product or service in a certain timeline. Focus on 4 date entries. Start with After 1 Day. Then After 7 Days. Then After 1 Month. Then After 3 Months. Adjust these dates according to the product's mechanism of action. Start off with realistic results for the first 2 dates, then end up with very positive results for the latter 2 dates. Focus on a bright future without having the original problem anymore in the last date's entry.\",\n    inputType: null\n  },\n  \n  \"Conclusion\": {\n    prompt: \"Conclude a first person text or a journalistic/listicle approach with a conclusion. Focus on the positive changes the product did to the life of the author (1st person) or to other peoples lives (journalistic/listicle). Reiterate why people should buy it now and show up the consequences if they don't.\",\n    inputType: null\n  }\n};\n\n// ============================================\n// INPUT PROCESSING FUNCTIONS\n// ============================================\n\nfunction replacePlaceholder(prompt, placeholder, value) {\n  if (!placeholder || !value) return prompt;\n  \n  // Create regex for safe replacement - escape special regex characters\n  const escapedPlaceholder = placeholder.replace(/[(){}]/g, '\\\\$&');\n  const pattern = new RegExp(escapedPlaceholder, 'g');\n  return prompt.replace(pattern, value);\n}\n\nfunction processBlockInput(block, template) {\n  let finalPrompt = template.prompt;\n  const warnings = [];\n  \n  // No input handling needed\n  if (!template.inputType) {\n    return { prompt: finalPrompt, warnings };\n  }\n  \n  // TEXT INPUT (Authority, Discount, Studies/Research)\n  if (template.inputType === 'text') {\n    const inputValue = block.inputValue?.trim();\n    \n    // Check if input is invalid (just numbers for Authority)\n    if (block.name === 'Authority' && inputValue && /^\\d+$/.test(inputValue)) {\n      warnings.push(`⚠️ Authority input appears to be just a number (${inputValue}), treating as empty`);\n      // Use fallback\n      finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, template.fallback);\n    }\n    // Valid input exists\n    else if (inputValue) {\n      finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, inputValue);\n    }\n    // No input - use fallback or special handling\n    else {\n      if (block.name === 'Discount') {\n        // Special case: Replace entire prompt with generic urgency\n        finalPrompt = \"Write a short message that creates urgency about the current offer. Focus on limited-time opportunity or special pricing, without mentioning a specific discount amount.\";\n        warnings.push(`ℹ️ Discount block has no input, using generic urgency prompt`);\n      } else if (template.fallback) {\n        // Use fallback for Authority, Studies/Research, etc.\n        finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, template.fallback);\n        warnings.push(`ℹ️ ${block.name} has no input, using fallback: ${template.fallback}`);\n      }\n    }\n  }\n  \n  // NUMERIC INPUT ((X) Reasons For, Listicle)\n  else if (template.inputType === 'numeric') {\n    const inputValue = block.inputValue?.trim();\n    \n    if (inputValue) {\n      finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, inputValue);\n    } else {\n      // Use fallback\n      finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, template.fallback);\n      warnings.push(`ℹ️ ${block.name} has no input, using fallback: ${template.fallback}`);\n    }\n  }\n  \n  // SELECT INPUT (Expert Testimonial)\n  else if (template.inputType === 'select') {\n    const selectValue = block.selectValue?.trim();\n    \n    // Map dropdown values to natural language\n    const roleMapping = {\n      'User': 'satisfied customer',\n      'Founder': 'company founder',\n      'Expert': 'industry expert'\n    };\n    \n    const role = selectValue ? (roleMapping[selectValue] || selectValue) : template.fallback;\n    finalPrompt = replacePlaceholder(finalPrompt, template.placeholder, role);\n    \n    if (!selectValue) {\n      warnings.push(`ℹ️ Expert Testimonial has no selection, using fallback: ${template.fallback}`);\n    }\n  }\n  \n  // TEXT-APPEND (Placeholder for Image)\n  else if (template.inputType === 'text-append') {\n    const inputValue = block.inputValue?.trim();\n    \n    if (inputValue) {\n      finalPrompt += ` If the user indicated additional notes or comments, attach them as well.\\n\\nUSER NOTE: ${inputValue}`;\n    }\n  }\n  \n  return { prompt: finalPrompt, warnings };\n}\n\n// ============================================\n// GLOBAL RULES DETECTION\n// ============================================\n\nconst globalRules = [];\nconst blockNames = structureBlocks.map(b => b.name);\n\n// Check for first-person LEDE\nif (blockNames.includes(\"Lede (Story, First Person)\") || blockNames.includes(\"Diary (1st Person)\")) {\n  globalRules.push(\"**CRITICAL: Write the ENTIRE advertorial in FIRST PERSON.** The narrator is a real person sharing their experience. Use 'I', 'my', 'me' throughout. Maintain this perspective consistently from headline to FAQ.\");\n}\n\n// Check for Authority block\nif (blockNames.includes(\"Authority\")) {\n  globalRules.push(\"**AUTHORITY CONSISTENCY:** An authority figure is introduced in the Authority section. Reference this person by name or role in later sections where appropriate (e.g., 'As [Name] explained...', 'The expert mentioned...').\");\n}\n\n// Check for Listicle format (paired blocks)\nif (blockNames.includes(\"Listicle (Product Comparison)\")) {\n  globalRules.push(\"**LISTICLE FORMAT:** This advertorial includes a product comparison. Maintain numbered or structured format for the comparison section. Keep evaluation criteria consistent across all products. The Listicle Intro and Product Comparison should flow seamlessly together.\");\n}\n\n// Check for Expert Testimonial\nif (blockNames.includes(\"Expert Testimonial (Quote)\")) {\n  globalRules.push(\"**EXPERT REFERENCE:** An expert testimonial is included. You may reference this expert's opinion or credentials in other sections where relevant (e.g., 'Experts recommend...', 'As verified by specialists...').\");\n}\n\n// Check for Studies/Research block\nif (blockNames.includes(\"Studies/Research\")) {\n  globalRules.push(\"**RESEARCH CREDIBILITY:** A scientific study is referenced in this advertorial. You may reference this research in other sections where relevant (e.g., 'Research shows...', 'Studies confirm...'). Maintain factual accuracy—never invent study details.\");\n}\n\n// Check for Story-based narrative\nconst hasStoryLede = blockNames.includes(\"Lede (Story, First Person)\") || \n                     blockNames.includes(\"Lede (Journalistic)\") ||\n                     blockNames.includes(\"Diary (1st Person)\");\nif (hasStoryLede) {\n  globalRules.push(\"**NARRATIVE CONSISTENCY:** The advertorial opens with a narrative hook. Maintain story continuity throughout - reference the initial problem/situation in later sections when introducing solutions or benefits.\");\n}\n\n// ============================================\n// BUILD GLOBAL RULES SECTION\n// ============================================\n\nlet globalRulesSection = '';\n\nif (globalRules.length > 0) {\n  globalRulesSection = `# GLOBAL WRITING RULES\n\nThese rules apply to the ENTIRE advertorial, not just individual sections:\n\n${globalRules.map((rule, idx) => `${idx + 1}. ${rule}`).join('\\n\\n')}\n\n---\n\n`;\n  \n  console.log(`🎯 Detected ${globalRules.length} global writing rules`);\n}\n\n// ============================================\n// BUILD STRUCTURE SECTION\n// ============================================\n\nlet structureSection = `# ADVERTORIAL STRUCTURE\n\nWrite the following ${structureBlocks.length} sections **IN THIS EXACT ORDER**:\n\n`;\n\nconst allWarnings = [];\n\nfor (const block of structureBlocks) {\n  const template = blockTemplates[block.name];\n  \n  if (!template) {\n    console.warn(`⚠️ Template not found for: ${block.name}`);\n    allWarnings.push(`⚠️ Block \"${block.name}\" not found in templates - skipping`);\n    continue;\n  }\n  \n  // Process input and get final prompt\n  const { prompt, warnings } = processBlockInput(block, template);\n  \n  // Collect warnings\n  if (warnings.length > 0) {\n    allWarnings.push(...warnings);\n  }\n  \n  // Check for unreplaced placeholders\n  if (prompt.includes('(X)') || prompt.includes('{ROLE}') || prompt.includes('{STUDY INPUT}')) {\n    allWarnings.push(`⚠️ Unreplaced placeholder detected in ${block.name}`);\n  }\n  \n  structureSection += `## ${block.position}. ${block.name}\n\n${prompt}\n\n---\n\n`;\n}\n\n// Log all warnings\nif (allWarnings.length > 0) {\n  console.log('\\n⚠️ WARNINGS:');\n  allWarnings.forEach(w => console.log(w));\n}\n\nconsole.log(`✅ Built structure with ${structureBlocks.length} blocks`);\n\n// ============================================\n// RETURN\n// ============================================\n\nreturn [{\n  json: {\n    ...data,\n    globalRules: globalRulesSection,\n    blockStructure: structureSection,\n    processingWarnings: allWarnings\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        32
      ],
      "id": "a12ca411-4ba1-455d-8792-4ce5fa14f2b7",
      "name": "Build Block Structure"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## QUICK SANITY CHECK\n\n**WORD COUNT:** {{$json.word_count_status === 'PASS' ? '✅' : '❌'}} {{$json.word_count}} words (target: {{$json.min_words}}-{{$json.max_words}})\n- Meets requirements: {{$json.meets_requirements}}\n- Wordcount percentage: {{$json.word_count_percentage}}\n\n**CONTENT TO REVIEW:**\n\n{{$json.clean_content}}\n\n---\n\n### Your job: Check TWO things\n\n**1. Word count compliance** (already calculated above)\n- ✅ PASS if word count is within {{$json.min_words}}-{{$json.max_words}} words (±10% of {{$json.target_length}})\n- ❌ FAIL if outside this range\n\n**2. Content quality** - Check for issues code can't catch:\n\n**Subtle meta-commentary** - Contextual process language\n- ❌ \"Based on the insights provided, this section...\"\n- ❌ \"Following the brief's tone guidance...\"\n- ❌ \"To maintain engagement, the next paragraph...\"\n- ❌ \"This advertorial establishes credibility by...\"\n\n**Formatting artifacts**\n- ❌ Broken markdown (unmatched bold/italic tags)\n- ❌ Misplaced placeholders\n- ❌ Weird spacing or line breaks\n\n**Logical flow**\n- ❌ Jarring transitions between sections\n- ❌ Incomplete sentences or thoughts\n- ❌ Sections that don't connect naturally\n\n---\n\n### Output Format\n\n**Both word count AND content must pass for overall PASS.**\n\nIf word count is out of range:\n```\nFAIL\n\n**Word Count:** ❌ {{$json.word_count}} words is {{$json.words_under_over > 0 ? 'over' : 'under'}} by {{Math.abs($json.words_under_over)}} words ({{$json.word_count_percentage}})\n\n**Content:** [PASS or issues if any]\n```\n\nIf word count is good but content has issues:\n```\nFAIL\n\n**Word Count:** ✅ Within range\n\n**Content Issues:**\n- [Specific issue with quote]\n- [Specific issue with quote]\n```\n\nIf both pass:\n```\nPASS\n```\n\n**No preamble. No explanations. Just PASS or FAIL + specific issues.**\n```\n\n---\n\n## Example Outputs\n\n### Scenario 1: Word count out of range (like your screenshot)\n\n**Input:**\n- Target: 1300 words\n- Actual: 1761 words (135.5%)\n- Range: 1170-1430\n- Content: Clean\n\n**Sanity Agent Output:**\n```\nFAIL\n\n**Word Count:** ❌ 1761 words is over by 331 words (135.5%)\n\n**Content:** PASS\n```\n\n---\n\n### Scenario 2: Word count good, but content has issues\n\n**Input:**\n- Target: 1500 words\n- Actual: 1485 words (99%)\n- Range: 1350-1650\n- Content: Has meta-commentary\n\n**Sanity Agent Output:**\n```\nFAIL\n\n**Word Count:** ✅ Within range\n\n**Content Issues:**\n- Meta-commentary detected: \"Based on the brief's guidance, I've structured this section to emphasize...\" - Remove this process explanation.\n```\n\n---\n\n### Scenario 3: Both pass\n\n**Input:**\n- Target: 1500 words\n- Actual: 1520 words (101.3%)\n- Range: 1350-1650\n- Content: Clean\n\n**Sanity Agent Output:**\n```\nPASS",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1600,
        32
      ],
      "id": "e41a9018-2412-4890-80d0-fe53bb09004f",
      "name": "Sanity Agent"
    },
    {
      "parameters": {
        "content": "## Webhook",
        "height": 224,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -176
      ],
      "typeVersion": 1,
      "id": "aaac19f5-c9f0-408f-9f33-a2570ff3d8aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Data & Brief Preparation",
        "height": 608,
        "width": 1104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -176
      ],
      "typeVersion": 1,
      "id": "e006d377-a911-47f2-93a8-077dc5fb3d27",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Advertorial Writing\nMain writer agent. Writes the complete advertorial based on the user's brief and using RAG tools.",
        "height": 496,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -176
      ],
      "typeVersion": 1,
      "id": "ad3da80e-e9e9-44e8-ab72-e5ccaf0bb3a2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## RAGs & Tools",
        "height": 176,
        "width": 3008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        352
      ],
      "typeVersion": 1,
      "id": "c7456b69-cb75-4389-8a32-60e4c16c5ca8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Sanity Check\nThe sanity agent checks specifically for:\n1. Word count accuracy\n2. Output cleanliness (e.g. no meta-commentary, extra artifacts)",
        "height": 496,
        "width": 1408,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -176
      ],
      "typeVersion": 1,
      "id": "717c4749-3701-43f4-b0cc-aece413234d8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2160,
        608
      ],
      "id": "3ab2fbc9-736e-4c62-b39f-2c37a8d573bb",
      "name": "gemini-2.5-flash-2",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Google Doc",
        "height": 720,
        "width": 928,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4032,
        -400
      ],
      "typeVersion": 1,
      "id": "e1a2cbb2-c79d-448a-b6ff-61fd3e064017",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Compliance Check\nThe compliance agent checks the revised advertorial and makes sure none of the client guidelines are violated.\nIf yes, the content gets sent to a rewriter.",
        "height": 720,
        "width": 1232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        -400
      ],
      "typeVersion": 1,
      "id": "d2aea15d-6374-4291-aa43-335c97e95ba6",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## MODELS",
        "height": 192,
        "width": 3008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        560
      ],
      "typeVersion": 1,
      "id": "b75ca1b1-ced9-43f9-a979-f023f2756ce9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# COMPLIANCE CHECK TASK\n\nCheck this advertorial against ERGO marketing guidelines. Identify any violations.\n\n---\n\n## ADVERTORIAL TO CHECK\n\n{{ $json.output }}\n\n---\n\n## YOUR TASK\n\n1. **Read the advertorial carefully** - Understand what's being claimed, what product is mentioned, what pricing is used\n\n2. **Check against ERGO guidelines** - Review against all applicable guidelines:\n   - CORE PRINCIPLE (Overall Impression)\n   - GENERAL guidelines (DO/CAREFUL/DON'T)\n   - Product-specific guidelines if applicable (DENT, STAT, SGVE, RILV, PRKV, ALTV)\n\n3. **Document violations** - For each violation found, provide:\n   - Category (DON'T/CAREFUL/PRINCIPLE)\n   - Severity (prohibited/caution_required/mandatory)\n   - Guideline Reference (which section)\n   - Issue description\n   - Evidence (exact quote from advertorial)\n   - Fix required (specific action)\n\n---\n\n## WHAT TO CHECK\n\n### Critical DON'T Items (Always Check):\n- ❌ Word \"Trick\" usage\n- ❌ Prices without \"ab\" (starting from)\n- ❌ Refunds without \"bis zu\" (up to)\n- ❌ Unrealistic pricing with sweeping claims\n- ❌ Misleading headlines\n- ❌ \"Become a private patient\" statements\n- ❌ Sale-focused CTAs (\"Sign up now\")\n- ❌ \"Anspruch auf\" phrasing (except ER-STAT exception)\n- ❌ Definitive statements like \"Garantie\"\n\n### CAREFUL Items (Context-Dependent):\n- ⚠️ Aggressive headlines (need prelander clarification)\n- ⚠️ Invented stories (need disclaimers)\n- ⚠️ Personal cases without \"ab\" (acceptable if truly individual)\n- ⚠️ Chief Physician mentions (only for AO campaigns)\n\n### Core Principle:\n- 📋 Overall impression evaluation\n- 📋 Headline vs. prelander consistency\n\n---\n\n## OUTPUT FORMAT\n\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** PASS / FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n[IF PASS]\n**Result:** No compliance violations found\n**Guidelines Reviewed:** ERGO marketing guidelines (General + [Product] if applicable)\n\n[IF FAIL]\n**Violations Found:** [number]\n\n---\n\n**Violation 1:**\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** [Section - e.g., \"GENERAL - DON'T: Use 'Trick'\"]\n- **Issue:** [description]\n- **Evidence:** \"[exact quote]\"\n- **Fix Required:** [specific action]\n\n[Repeat for each violation]\n```\n\n---\n\n## CRITICAL REMINDERS\n\n✅ Start response with \"## COMPLIANCE CHECK\"\n✅ Check ALL applicable guidelines (GENERAL + product-specific)\n✅ Quote exact text from advertorial as evidence\n✅ Provide specific, actionable fixes\n✅ Reference specific guideline sections\n\n❌ Don't make assumptions - check against actual guidelines\n❌ Don't paraphrase violations - quote exactly\n❌ Don't give vague fixes - be specific\n❌ Don't add meta-commentary about your process\n\n---\n\n**Begin your compliance check now. Review the advertorial against ERGO guidelines systematically.**",
        "options": {
          "systemMessage": "=# ROLE\n\nYou are a Compliance Check agent for advertorial content. Your job is to validate content against ERGO marketing guidelines.\n\n**Your focus:** Identify violations of ERGO rules (DON'T, CAREFUL, and DO guidelines)\n\n---\n\n# ERGO MARKETING GUIDELINES - ENGLISH\n\n**Last Updated:** 21.10.25\n\n## **CORE PRINCIPLE: Overall Impression (Gesamtschau)**\n\nThe \"Overall Impression\" (Gesamtschau) is crucial for ERGO. We evaluate the entire marketing funnel—from the headline to the prelander or video script.\n\n**Key Rule:** Headlines may be catchy and journalistically abbreviated, but potentially provocative or strong claims must be clearly and comprehensibly explained on the prelander. The explanations must be simple, understandable, and must never contradict the headline.\n\n---\n\n## **GENERAL GUIDELINES**\n\n### DO (Allowed):\n- Use statistics: If you use statistics in headlines, substantiate them in the overall context of the campaign (e.g., on the prelander).\n- Use disclaimers: Clear disclaimers should be used for long stories or more aggressive statements on prelanders.\n- Realistic pricing: Mentioned prices (especially for \"up to 100% cost coverage\") must be realistic for the advertised product. Find corresponding tariffs on the ERGO website with calculators.\n- Subjective cost wordings: Wordings like \"a few euros a month\" or comparisons with everyday costs are allowed as long as they remain within the usual range.\n- Use \"Tipp\" (Tip): The word \"Tipp\" is allowed.\n- \"Treated like a private patient\": Wordings like \"you will be treated like a private patient\" are appropriate.\n- Use AI-generated images: The use of AI-generated images is generally acceptable.\n- Mention experts/studies: Phrases like \"Experts are now advising this\" are permissible (ideally with substantiation).\n- Know the funnel: The normal funnel sequence is as follows. Ad → Prelander or Video → ERGO LP (Questionnaire). A few questions are answered on the LP and then the data is entered. → Call: As a rule, the user will be called by an ERGO call center employee within the next 5 minutes.\n- Prices for the insurance policies must always include \"mtl.\" / \"im Monat\"\n- The supplemental dental insurance is available from a low €3.24 per month\n- Get up to 100% of the money back\n\n### CAREFUL (Caution Required):\n- Aggressive/abbreviated headlines: Headlines may be short and journalistic, but must be clarified and made more precise on the prelander.\n- Invented story and aggressive statements: May be used, but must be accompanied by disclaimers.\n- Coverage without starting price (\"ab\"): If we explicitly address a personal individual case, mentioning it without \"ab\" is also possible. Example: I have supplemental dental insurance that only costs €2.05 a month and covers up to 100% of my dental prosthesis costs.\n- AI labeling on creatives: It is not mandatory to label AI-generated content directly on the creatives, but could be included in a disclaimer.\n- Older studies can be used, provided they are not clearly refuted by newer ones.\n- Save up to 3 monthly premiums! ONLY DENTAL - If dental prosthesis is included!\n\n### DON'T (Prohibited):\n- Misleading headlines/inventions: Headlines must not be complete inventions and must not be misleading. Example: Now: €20,000 death benefit for all Germans\n- Unrealistically low prices with sweeping claims: Do not advertise a very low price in connection with the maximum benefits. Example: from €2.50 up to 100% cost coverage for dental prosthesis and prophylaxis\n- Use \"Trick\": The word \"Trick\" is strictly forbidden.\n- \"Become a private patient\": Avoid the direct statement \"become a private patient in the hospital now.\"\n- Look-alikes (including AI-generated): The use of look-alikes, including AI-generated ones, is to be avoided.\n- No Sale: Unless we are explicitly running a sales campaign, ERGO campaigns are exclusively about lead campaigns. CTAs like \"Sign up now\" are therefore to be avoided.\n- \"Anspruch auf\" (Right to/Claim to): The phrase \"Anspruch auf\" is no longer to be used at all!! (only exception: ER-STAT - the insurance includes the right to a single room)\n- Avoid definitive statements like \"Garantie\" (guarantee) or \"Anspruch auf...\" (right to...)\n- Always communicate prices with the word \"ab\" (starting from)\n- Always communicate refunds with the words \"bis zu\" (up to)\n\n---\n\n## **PRODUCT-SPECIFIC GUIDELINES**\n\n### DENT (Dental Insurance)\n**DO:**\n- Use Stiftung Warentest seal - NOT TEST WINNER → Very good at Stiftung Warentest\n- Realistic pricing: Mentioned prices must be realistic. Example possible: The ERGO supplemental dental insurance covers up to 100% of your costs at the dentist.\n- 50% off the tariff \"Dental-Schutz\"\n\n**DON'T:**\n- Unrealistically low prices with sweeping claims: Do not advertise very low price with maximum benefits\n- Never communicate 50% generally, but only for Dental Schutz\n- Topic No health questions: If treatments are already scheduled, our supplemental dental insurance does not apply - so better talk about past treatments.\n\n### STAT (Hospital Insurance)\n**CAREFUL:**\n- Mention Chief Physician (Chefarzt): Absolutely note - we are only allowed to do this for external campaigns (AO Campaigns)! For all other campaigns DO NOT communicate Chief Physician!\n\n**DON'T:**\n- Own meal plan (Speiseplan) must no longer be communicated\n\n### SGVE (Funeral Insurance)\n**DO:**\n- Mention payout amount of up to €20,000\n- Use E-Komi Label\n- We communicate €13,000 as average burial costs\n\n**CAREFUL:**\n- Burial (Bestattung) is an umbrella term for the various types of burial\n\n### RILV (Life Insurance)\n**DO:**\n- Make it clear - NO CREDIT (Make it clear that the money is paid out upon death)\n- Payout amount of up to €150,000\n- Use FOCUS Money Labels! 1. Best RILV 2. Best Financial Strength\n\n### PRKV (Private Health Insurance)\n**DO:**\n- Always mention the Annual Income Threshold (Jahresarbeitsentgeldgrenze)! Important - it changes!! Current (June 25) → €73,800. From January 2026: €77,400\n\n**CAREFUL:**\n- Show two-class system (Statutory vs. Private) - but be careful with the aggressiveness!\n\n**DON'T:**\n- No health insurance bashing!\n\n### ALTV (Pension Insurance)\n**DO:**\n- Use FOCUS Money Label!\n- Name Concerns: Falling pension level, Inflation, Longer life expectancy\n\n---\n\n# HOW COMPLIANCE CHECKING WORKS\n\n## Step 1: Read the Advertorial\n\nCarefully read the entire advertorial content to understand:\n- What claims are being made\n- What pricing is mentioned\n- What product is being advertised (DENT, STAT, etc.)\n- The overall tone and approach\n\n## Step 2: Check Against Guidelines\n\nReview the advertorial against the ERGO guidelines above:\n\n**DON'T violations (Prohibited - CRITICAL):**\n- These are STRICT no-go items\n- Any presence = automatic violation\n- Must be fixed before approval\n- Examples: Word \"Trick\", misleading headlines, unrealistic pricing\n\n**CAREFUL violations (Caution Required):**\n- These require judgment or specific restrictions\n- Flag if restrictions aren't met\n- May be acceptable with proper context/disclaimers\n- Examples: Aggressive headlines without prelander clarification, coverage without \"ab\"\n\n**Core Principle violations:**\n- Overall impression doesn't align with guidelines\n- Headline and prelander contradict\n- Fundamental issues with approach\n\n## Step 3: Document Violations\n\nFor each violation found, provide:\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** Which guideline section was violated\n- **Issue:** What rule was violated\n- **Evidence:** Quote from advertorial showing the violation\n- **Fix Required:** Specific action needed to resolve\n\n---\n\n# OVERALL STATUS LOGIC\n\n```\nIF no violations found:\n    Overall Status = PASS\n\nIF any violations found (DON'T, CAREFUL, or PRINCIPLE):\n    Overall Status = FAIL\n```\n\n---\n\n# OUTPUT FORMAT\n\nAlways use this exact structure:\n\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** PASS / FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n[IF PASS]\n\n**Result:** No compliance violations found\n\n**Guidelines Reviewed:** ERGO marketing guidelines (General + [Product-specific if applicable])\n\n---\n\n[IF FAIL]\n\n**Violations Found:** {number}\n\n---\n\n**Violation 1:**\n- **Category:** DON'T / CAREFUL / PRINCIPLE\n- **Severity:** prohibited / caution_required / mandatory\n- **Guideline Reference:** [Section name, e.g., \"GENERAL - DON'T: Use 'Trick'\"]\n- **Issue:** [What rule was violated]\n- **Evidence:** \"[Exact quote from advertorial]\"\n- **Fix Required:** [Specific action to resolve - be precise]\n\n**Violation 2:**\n[Same structure]\n\n[Repeat for each violation]\n```\n\n---\n\n# CRITICAL RULES\n\n1. **Check all applicable guidelines**\n   - Always check GENERAL guidelines\n   - Check CORE PRINCIPLE (Overall Impression)\n   - Check product-specific guidelines if product is mentioned\n\n2. **Be specific with evidence**\n   - Quote exact text from advertorial (keep quotes under 1-2 sentences)\n   - Show exactly where the violation occurs\n   - Don't paraphrase - use actual text\n\n3. **Provide actionable fixes**\n   - Don't just say \"remove this\" - explain what should replace it\n   - Reference allowed alternatives from guidelines\n   - Be specific about what needs to change\n\n4. **Prioritize violations**\n   - DON'T violations (prohibited) are most critical\n   - CAREFUL violations (caution_required) need judgment\n   - Note if multiple guidelines are violated by the same content\n\n5. **No preamble or postamble**\n   - Start with \"## COMPLIANCE CHECK\"\n   - End with the last violation\n   - No meta-commentary about your process\n\n6. **Reference guideline sections**\n   - Clearly state which section (GENERAL, DENT, etc.)\n   - State whether it's DO/CAREFUL/DON'T\n   - Makes it clear which specific rule was violated\n\n---\n\n# EXAMPLES\n\n## Example 1: DON'T Violation (Prohibited Word)\n\n**Input:** Advertorial uses the word \"Trick\"\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 1\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Use \"Trick\"\n- **Issue:** Use of the word \"Trick\" which is strictly forbidden\n- **Evidence:** \"This simple trick can save you hundreds on dental costs\"\n- **Fix Required:** Replace \"trick\" with an allowed alternative like \"tip\" (German: \"Tipp\") which is explicitly allowed per GENERAL - DO: Use \"Tipp\"\n```\n\n---\n\n## Example 2: CAREFUL Violation (Missing \"ab\")\n\n**Input:** Price mentioned without \"ab\" (starting from)\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 1\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Always communicate prices with \"ab\" (starting from)\n- **Issue:** Price communicated without required \"ab\" (starting from) qualifier\n- **Evidence:** \"Get dental coverage for just €2.50 per month\"\n- **Fix Required:** Add \"ab\" (starting from): \"Get dental coverage from €2.50 per month\" OR \"starting from €2.50 per month\"\n```\n\n---\n\n## Example 3: Multiple Violations\n\n**Input:** Contains \"Trick\" + unrealistic pricing claim\n\n**Output:**\n```markdown\n## COMPLIANCE CHECK\n\n**Overall Status:** FAIL\n**Guidelines Checked:** ERGO\n\n---\n\n**Violations Found:** 2\n\n---\n\n**Violation 1:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Use \"Trick\"\n- **Issue:** Forbidden word \"Trick\"\n- **Evidence:** \"This simple trick can save you money\"\n- **Fix Required:** Replace \"trick\" with \"tip\" (Tipp)\n\n**Violation 2:**\n- **Category:** DON'T\n- **Severity:** prohibited\n- **Guideline Reference:** GENERAL - DON'T: Unrealistically low prices with sweeping claims\n- **Issue:** Very low price (€2.50) advertised with maximum benefits (100% coverage for all dental costs)\n- **Evidence:** \"From €2.50 get 100% coverage for all your dental costs\"\n- **Fix Required:** Either specify what's covered at this price (e.g., \"up to 100% of dental prosthesis costs\") OR use realistic pricing for comprehensive coverage. See GENERAL guidelines for examples of acceptable pricing claims.\n```\n\n---\n\n# REMEMBER\n\n- Read the full advertorial carefully\n- Check GENERAL guidelines for all advertorials\n- Check product-specific guidelines if applicable (DENT, STAT, etc.)\n- Be thorough - check all DO/CAREFUL/DON'T items\n- Be specific - quote exact violations\n- Be actionable - provide clear fixes with guideline references\n\n**Your job is to be the compliance gatekeeper. Flag violations clearly and help fix them using ERGO's guidelines.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3056,
        -80
      ],
      "id": "b4e86ad9-f8c6-440c-a6bc-b81885656105",
      "name": "ERGO Compliance"
    },
    {
      "parameters": {
        "jsCode": "// Extract Compliance Status for Branching\n// Extracts PASS or FAIL from \"**Overall Status:** PASS/FAIL\"\n// Also extracts violation count if present\n\nconst item = $input.first();\nconst output = item.json.output || '';\n\n// Look for \"**Overall Status:** PASS\" or \"**Overall Status:** FAIL\"\nconst statusMatch = output.match(/\\*\\*Overall Status:\\*\\*\\s*(PASS|FAIL)/i);\n\nif (!statusMatch) {\n  console.error('❌ Could not find Overall Status in output');\n  console.log('Output preview:', output.substring(0, 200));\n  \n  // Default to FAIL if status cannot be determined\n  return [{\n    json: {\n      status: 'FAIL',\n      error: 'Could not parse status from Compliance output',\n      raw_output: output\n    }\n  }];\n}\n\nconst status = statusMatch[1].toUpperCase(); // Ensure uppercase\n\n// Optionally extract violation count (useful for logging/debugging)\nlet violationCount = 0;\nconst violationMatch = output.match(/\\*\\*Violations Found:\\*\\*\\s*(\\d+)/i);\nif (violationMatch) {\n  violationCount = parseInt(violationMatch[1]);\n}\n\nconsole.log(`✅ Extracted status: ${status}`);\nif (violationCount > 0) {\n  console.log(`   Violations found: ${violationCount}`);\n}\n\nreturn [{\n  json: {\n    status: status,\n    violation_count: violationCount,\n    raw_output: output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        -80
      ],
      "id": "c07dba63-3c00-4c05-9cf2-3881a56be096",
      "name": "Check Feedback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d138cf47-0158-4b15-8621-1893d126912f",
              "name": "output",
              "value": "={{ $('Cleaner + Word Counter').item.json.clean_content }}",
              "type": "string"
            },
            {
              "id": "069d3937-3234-4022-b24d-c4ae7055e26b",
              "name": "clientGuidelines",
              "value": "={{ $('Writer Brief').item.json.clientGuidelines }}",
              "type": "string"
            },
            {
              "id": "f02a001b-7a74-44ab-b2ad-dba1604f442f",
              "name": "customGuidelines",
              "value": "={{ $('Writer Brief').item.json.customGuidelines }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        -112
      ],
      "id": "db129e39-4c1c-4a76-bf60-ff304f141875",
      "name": "Original"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b03a245b-6314-4092-961d-4dab5ee32592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "25acb7ee-eb93-41bb-a740-b4ac07a7c2ca",
              "name": "clientGuidelines",
              "value": "={{ $('Writer Brief').item.json.clientGuidelines }}",
              "type": "string"
            },
            {
              "id": "849c254f-8689-4d9d-94fc-8c38ac88e1cd",
              "name": "customGuidelines",
              "value": "={{ $('Writer Brief').item.json.customGuidelines }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        48
      ],
      "id": "19fd98f1-2697-4761-bc3c-672e5dd998da",
      "name": "Revised"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c66f38a9-243c-41d9-b41f-bead78d16db4",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -112
      ],
      "id": "b945fedd-a1e5-464e-8ec7-881edbd8a9bc",
      "name": "Webhook",
      "webhookId": "c66f38a9-243c-41d9-b41f-bead78d16db4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xLmlE2dwxz86e3I",
          "name": "Xevio-Adv-Builder-Auth"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -528
      ],
      "id": "a21c492d-391b-4d04-9cb9-054f14606ec7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "765fcf39-bb99-483b-a4c9-e4f3b13cea44",
              "name": "campaignContext.topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "24df4d4a-7f8c-4af9-ae71-7fa9c9b8931e",
              "name": "campaignContext.campaignType",
              "value": "={{ $json.campaignType }}",
              "type": "string"
            },
            {
              "id": "87aa02b8-7902-481a-a943-11c781c3aaa0",
              "name": "campaignContext.niche",
              "value": "={{ $json.niche }}",
              "type": "string"
            },
            {
              "id": "0190c0b7-d0f7-40a2-815a-1ee173cc57d9",
              "name": "campaignContext.country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "9c585a48-727e-41a2-861a-fd9c7ae39da4",
              "name": "campaignContext.language",
              "value": "={{ $json.language }}",
              "type": "string"
            },
            {
              "id": "1b1afdd6-9a54-4e9c-bee5-7acee6dd1411",
              "name": "campaignContent.targetLength",
              "value": "={{ $json.length }}",
              "type": "number"
            },
            {
              "id": "e6362512-32cf-4525-8ae8-aadb72c1e31a",
              "name": "campaignContent.paragraphLength",
              "value": "={{ $json.paragraphLength }}",
              "type": "string"
            },
            {
              "id": "44017c6c-c6fc-4be8-b58a-e2d1944fcfe3",
              "name": "clientGuidelines",
              "value": "={{ $json.guidelines }}",
              "type": "string"
            },
            {
              "id": "f57dda84-49df-41cb-a5ab-24dcd94d3a85",
              "name": "customGuidelines",
              "value": "={{ $json.customGuidelines }}",
              "type": "string"
            },
            {
              "id": "8f5fa954-5467-4a04-a19e-41c019d81544",
              "name": "selectedInsights",
              "value": "={{ $json.selectedInsights }}",
              "type": "object"
            },
            {
              "id": "72e43e65-665f-45af-be40-1ea9c16b460e",
              "name": "globalRules",
              "value": "={{ $json.globalRules }}",
              "type": "string"
            },
            {
              "id": "34b28ead-0b0d-4efe-8751-d1d559eb8f8f",
              "name": "blockStructure",
              "value": "={{ $json.blockStructure }}",
              "type": "string"
            },
            {
              "id": "e392993d-134e-4b6f-83fd-0a5c275e3db1",
              "name": "documentName",
              "value": "={{ $json.documentName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        32
      ],
      "id": "fbb09485-a09c-4a37-8a47-a543ff235beb",
      "name": "Writer Brief"
    },
    {
      "parameters": {
        "jsCode": "// Cleaner + Word Counter\nconst rawOutput = $input.item.json.output;\n\nlet targetLength = 2000;\ntry {\n  const writerBrief = $('Writer Brief').first().json;\n  targetLength = writerBrief.campaignContent.targetLength || 2000;\n} catch (e) {\n  // Keep fallback\n}\n\n// Calculate acceptable range (±10% tolerance)\nconst minWords = Math.floor(targetLength * 0.90);\nconst maxWords = Math.ceil(targetLength * 1.10);\n\n// Function to extract advertorial content (remove AI preamble if present)\nfunction extractAdvertorial(text) {\n  // Strategy 1: Split on horizontal rule (AI often uses --- to separate preamble)\n  const hrSplit = text.split(/\\n---+\\n/);\n  if (hrSplit.length > 1) {\n    const firstPart = hrSplit[0];\n    const metaPhrases = /ready to write|i'll craft|i will craft|based on my research|let me write|here's what i'll/i;\n    if (metaPhrases.test(firstPart) && firstPart.length < 1000) {\n      return hrSplit.slice(1).join('\\n---\\n').trim();\n    }\n  }\n  \n  // Strategy 2: Find first real heading (skip meta-commentary headings)\n  const lines = text.split('\\n');\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (/^#\\s+/.test(line)) {\n      const metaHeadings = /ready to write|i'll craft|i will craft|based on|let me|here's what/i;\n      if (!metaHeadings.test(line)) {\n        return lines.slice(i).join('\\n').trim();\n      }\n    }\n  }\n  \n  // No preamble detected, return as-is\n  return text.trim();\n}\n\n// Function to count words (excludes placeholders from count)\nfunction countWords(text) {\n  let countableText = text;\n  \n  // Remove placeholders and user notes from count (but keep in content)\n  countableText = countableText.replace(/\\*\\*Placeholder for Image.*?\\*\\*/gi, '');\n  countableText = countableText.replace(/\\*USER NOTE:.*?\\*/gi, '');\n  \n  // Clean markdown formatting for accurate count\n  countableText = countableText.replace(/^#+\\s+/gm, '');\n  countableText = countableText\n    .replace(/\\*\\*(.+?)\\*\\*/g, '$1')\n    .replace(/\\*(.+?)\\*/g, '$1')\n    .replace(/`(.+?)`/g, '$1')\n    .replace(/\\[(.+?)\\]\\(.+?\\)/g, '$1');\n  \n  return countableText.trim().split(/\\s+/).filter(word => word.length > 0).length;\n}\n\n// Execute\nconst cleanContent = extractAdvertorial(rawOutput);\nconst wordCount = countWords(cleanContent);\nconst meetsRequirements = wordCount >= minWords && wordCount <= maxWords;\n\nreturn {\n  json: {\n    // Content\n    raw_output: rawOutput,\n    clean_content: cleanContent,\n    \n    // Word count data (for Sanity Agent)\n    word_count: wordCount,\n    target_length: targetLength,\n    min_words: minWords,\n    max_words: maxWords,\n    meets_requirements: meetsRequirements,\n    \n    // Metadata\n    word_count_percentage: ((wordCount / targetLength) * 100).toFixed(1) + '%',\n    words_under_over: meetsRequirements ? 0 : (wordCount < minWords ? wordCount - minWords : wordCount - maxWords),\n    word_count_status: meetsRequirements ? 'PASS' : 'FAIL',\n    \n    counted_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        32
      ],
      "id": "123f3cba-6d72-4973-8cec-a49b9e152b1a",
      "name": "Cleaner + Word Counter"
    },
    {
      "parameters": {
        "jsCode": "// Code Node: \"Parse Sanity Result\"\n\nconst output = $input.item.json.output;\nconst status = output.startsWith('PASS') ? 'PASS' : 'FAIL';\n\nreturn {\n  json: {\n    status: status,\n    details: output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1888,
        32
      ],
      "id": "05226718-f8a7-41a7-a61e-9611348f5e19",
      "name": "Format Result"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# FIX THIS ADVERTORIAL\n\n## SANITY CHECK FEEDBACK\n{{ $json.details }}\n\n## CONTENT TO FIX\n{{ $('Cleaner + Word Counter').item.json.clean_content }}\n\n## TARGET WORD COUNT\n- **Target:** {{ $('Cleaner + Word Counter').item.json.target_length }} words\n- **Range:** {{ $('Cleaner + Word Counter').item.json.min_words }}-{{ $('Cleaner + Word Counter').item.json.max_words }} words\n- **Current:** {{ $('Cleaner + Word Counter').item.json.word_count }} words\n\n---\n\n**YOUR TASK:**\n\n1. **Fix Specific Issues:** Address ONLY the problems mentioned in the feedback above\n   \n2. **Handle Word Count Mismatches:**\n   - **If too short:** Expand EXISTING sections proportionally by adding detail, examples, or elaboration. Do NOT add new sections or topics.\n   - **If too long:** Trim EXISTING sections proportionally by removing redundancy or being more concise. Do NOT delete entire sections.\n   - **Goal:** Get within the word count range while maintaining all original sections the user selected\n   \n3. **Remove Content Artifacts:**\n   - Delete any meta-commentary (e.g., \"Here's a headline...\", \"As an AI...\", \"This section will...\")\n   - Remove leaked placeholder markers that shouldn't be there\n   - Fix formatting issues (extra line breaks, weird spacing)\n\n4. **Preserve User Intent:**\n   - Keep ALL sections the user added via Building Blocks\n   - Maintain the structure and order\n   - Preserve image/GIF placeholder markers (e.g., \"[Image: comparison chart]\", \"[GIF: product demo]\") - these are intentional reminders\n   - Keep the tone, angle, and messaging consistent\n\n**CRITICAL RULES:**\n- ❌ Do NOT add new sections the user didn't request\n- ❌ Do NOT remove sections the user added\n- ❌ Do NOT delete image/GIF placeholders\n- ❌ Do NOT change the fundamental structure\n- ✅ DO expand/shorten within existing sections\n- ✅ DO remove meta-commentary and artifacts\n- ✅ DO stay within the word count range\n\n**OUTPUT FORMAT:**\nStart directly with the fixed advertorial content. No preamble, no commentary, no explanations.",
        "options": {
          "systemMessage": "=You are a Quality Control Agent in an advertorial generation pipeline. Your role comes AFTER the Writer Agent creates content and BEFORE optional compliance checks.\n\n**YOUR MISSION:**\nFix specific issues flagged by automated sanity checks while preserving the user's chosen structure and messaging.\n\n**WHAT YOU FIX:**\n1. **Word count mismatches** - Adjust content to fit target range\n2. **Content artifacts** - Remove meta-commentary, formatting issues, leaked placeholders\n3. **Quality issues** - Address any problems flagged in the feedback\n\n**CORE PRINCIPLES:**\n\n**On Word Count Adjustments:**\n- The user selected specific sections (Building Blocks) they want in their advertorial\n- ALL sections must remain - you're adjusting depth, not structure\n- **If too short:** Expand EXISTING sections with more detail, examples, or elaboration\n- **If too long:** Tighten EXISTING sections by removing redundancy and being more concise\n- Never add sections the user didn't request\n- Never remove sections the user did request\n\n**On Content Artifacts:**\n- Delete meta-commentary: \"Here's a headline...\", \"As an AI...\", \"This section will...\"\n- Remove leaked technical markers that weren't meant for the final content\n- Preserve intentional placeholders: \"[Image: ...]\", \"[GIF: ...]\" - these remind the user where to add visuals later\n\n**On User Intent:**\n- The user carefully built this structure using a drag-and-drop builder\n- Maintain section order, tone, angle, and core messaging\n- Your job is to polish what's there, not redesign it\n\n**OUTPUT STYLE:**\n- Start directly with the fixed content\n- No preamble like \"Here's the revised version...\"\n- No post-amble like \"I've addressed the issues by...\"\n- Just clean, publication-ready content\n\n**REMEMBER:** You're a quality control editor, not a creative writer. Fix flagged issues, respect the user's structure, and maintain their voice."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2240,
        48
      ],
      "id": "8ca8fc2f-216d-48fc-906b-a19a3c38c048",
      "name": "Sanity Rewriter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PASS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e71d4e84-3d99-4ff9-af41-cfac4429ce23"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PASS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "144dcad2-80ee-46a1-aacb-90f9d6d465d5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAIL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAIL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2048,
        32
      ],
      "id": "f4f88521-e5f0-47af-b82a-501b0fd047ca",
      "name": "Sanity Check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.clientGuidelines }}",
                    "rightValue": "^(Custom|None)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "2f012c25-c0fc-445c-95fe-bcafe91c13cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CUSTOM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1aec54c6-a969-425a-9852-b59f5ab86b4e",
                    "leftValue": "={{ $json.clientGuidelines }}",
                    "rightValue": "ERGO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERGO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2864,
        -272
      ],
      "id": "72d9a6d7-2ed1-4805-a9fc-a40269b088b9",
      "name": "Guidelines Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d12ded5c-f0d6-4d86-a08f-1c66ee52274f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3472,
        -80
      ],
      "id": "ba2ecf4c-4ee8-4f7c-ab41-e74a3de8a119",
      "name": "Compliant?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        -288
      ],
      "id": "1b282d77-b0b4-440b-8412-98230059d295",
      "name": "FINAL 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        -96
      ],
      "id": "74b51bd6-1c54-4c48-aa85-1fec91c78340",
      "name": "FINAL 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e4e24ed-8669-4eaa-a4f4-b216a688c592",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4112,
        96
      ],
      "id": "d2ddc875-da47-4fa9-88d1-14a476e1436f",
      "name": "FINAL 3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# TASK: FIX COMPLIANCE VIOLATIONS\n\nExecute the fixes listed in the compliance feedback below.\n\n---\n\n{{ $('Check Feedback').item.json.raw_output }}\n\n---\n\n## ORIGINAL ADVERTORIAL\n\n{{ $('Guidelines Check').item.json.output }}\n\n---\n\n## YOUR JOB\n\n1. Read each violation in the compliance feedback\n2. Find the \"Fix Required\" instruction for each violation\n3. Apply that exact fix to the advertorial\n4. Repeat for all violations\n5. Output the complete fixed advertorial\n\n**No analysis. No judgment. Just execute the fixes.**\n\n---\n\n## EXECUTION CHECKLIST\n\nFor each violation:\n- [ ] Read \"Evidence\" to find the exact location\n- [ ] Read \"Fix Required\" for the exact instruction\n- [ ] Apply the fix as specified\n- [ ] Move to next violation\n\nAfter all fixes:\n- [ ] Verify all violations addressed\n- [ ] Check output has no meta-commentary\n- [ ] Confirm complete advertorial included\n\n---\n\n## CRITICAL RULES\n\n✅ **Execute every fix** - even if there are many violations\n✅ **Follow \"Fix Required\" exactly** - it tells you what to do\n✅ **Output complete advertorial** - with all fixes applied\n✅ **No preamble or commentary** - just the advertorial\n\n❌ **Don't refuse** because there are \"too many\" fixes\n❌ **Don't suggest rewriting** - just apply the fixes\n❌ **Don't add explanations** - no change tracking\n❌ **Don't overthink** - compliance feedback is your instruction list\n\n---\n\n## OPTIONAL TOOL\n\n`copywriting_guide` RAG available for phrasing help.\n\n**Use only if:**\n- Fix requires natural phrasing not specified in feedback\n- Need tone guidance for complex adjustment\n\n**Most fixes won't need it.** Feedback usually gives exact instructions.\n\n---\n\n## OUTPUT FORMAT\n\nStart directly with the advertorial:\n\n```\n# Headline\n\nOpening paragraph...\n\nBody with fixes applied...\n\nFinal CTA.\n```\n\n**NO meta-commentary. NO explanations. Just the advertorial.**\n\n---\n\n**Execute all fixes now. Output the complete fixed advertorial.**",
        "options": {
          "systemMessage": "=# ROLE\n\nYou are a compliance fixer. Your ONLY job: execute the exact fixes specified in compliance feedback.\n\n**Your job is NOT to:**\n- Judge if the advertorial needs complete rewriting\n- Decide if there are \"too many\" violations\n- Question whether fixes will work\n- Improve the advertorial beyond what's specified\n- Add your own suggestions\n\n**Your job IS to:**\n- Read each violation's \"Fix Required\" instruction\n- Execute that exact instruction\n- Move to the next violation\n- Output the fixed advertorial\n\n**No judgment. No analysis. Just execute.**\n\n---\n\n# HOW THIS WORKS\n\nThe compliance feedback gives you a list of specific fixes:\n\n```\nViolation 1:\n- Issue: [what's wrong]\n- Evidence: \"[exact quote]\"\n- Fix Required: [specific instruction]\n```\n\n**Your process:**\n1. Read \"Fix Required\"\n2. Find the quoted text in advertorial\n3. Apply the fix exactly as instructed\n4. Repeat for all violations\n5. Output the complete fixed advertorial\n\n**That's it. Nothing more.**\n\n---\n\n# KEY PRINCIPLE\n\n**Even if there are 10 violations, your job is the same:**\n- Execute fix 1\n- Execute fix 2\n- Execute fix 3\n- ... continue through all fixes\n- Output result\n\n**Don't say:** \"This needs too many changes\" or \"This requires complete rewrite\"\n\n**Just do:** Apply each fix one by one, output result.\n\n---\n\n# EXECUTION EXAMPLES\n\n## Simple Fix: Replace Word\n\n**Feedback says:**\n```\nFix Required: Replace \"trick\" with \"tip\"\nEvidence: \"This simple trick can save...\"\n```\n\n**You do:**\n1. Find \"This simple trick can save...\"\n2. Change to \"This simple tip can save...\"\n3. Done\n\n---\n\n## Simple Fix: Add Qualifier\n\n**Feedback says:**\n```\nFix Required: Add \"from\" before price: \"from €2.50 per month\"\nEvidence: \"€2.50 per month for coverage\"\n```\n\n**You do:**\n1. Find \"€2.50 per month for coverage\"\n2. Change to \"from €2.50 per month for coverage\"\n3. Done\n\n---\n\n## Multiple Fixes\n\n**Feedback says:**\n```\nViolation 1: Replace \"trick\" with \"tip\"\nViolation 2: Add \"from\" to price\nViolation 3: Add \"up to\" before \"100%\"\n```\n\n**You do:**\n1. Fix violation 1\n2. Fix violation 2\n3. Fix violation 3\n4. Output complete advertorial\n\n**Don't worry about quantity. Just execute all fixes.**\n\n---\n\n# CRITICAL RULES\n\n## Rule 1: Follow Instructions Exactly\n\nIf feedback says: \"Replace X with Y\" → Replace X with Y\nIf feedback says: \"Add Z before A\" → Add Z before A\n\n**Don't improvise. Don't get creative. Follow the instruction.**\n\n## Rule 2: No Meta-Commentary\n\n❌ \"I've fixed 5 violations...\"\n❌ \"Here's the revised version...\"\n❌ \"Changes made: ...\"\n\n✅ Just output the fixed advertorial directly\n\n## Rule 3: Complete Content Only\n\nOutput the entire advertorial with fixes applied.\n\n**Start with:** Headline or opening line\n**End with:** CTA or conclusion\n**Include:** All content with fixes applied\n\n## Rule 4: Don't Question the Task\n\nEven if feedback lists many violations:\n- ❌ Don't refuse\n- ❌ Don't suggest starting over\n- ❌ Don't question if it's fixable\n- ✅ Just apply all fixes\n\n**Your job: Execute. Not evaluate.**\n\n---\n\n# OPTIONAL TOOL\n\nYou have access to `copywriting_guide` RAG for phrasing help.\n\n**Use ONLY if:**\n- Need natural phrasing for a complex fix\n- Feedback doesn't give exact wording\n- Want to maintain voice while fixing\n\n**Don't use if:**\n- Feedback gives exact replacement (just use it)\n- Simple word swap or addition\n- Fix is obvious\n\n**Most fixes won't need RAG.** Feedback is usually specific enough.\n\n---\n\n# OUTPUT FORMAT\n\n✅ **CORRECT:**\n```\n# Your Headline Here\n\nOpening paragraph with any fixes applied...\n\nBody content with fixes applied...\n\nFinal CTA with any fixes applied.\n```\n\n❌ **WRONG:**\n```\nI've applied the following 3 fixes:\n1. Replaced \"trick\" with \"tip\" ✓\n2. Added \"from\" to price ✓\n3. Added \"up to\" qualifier ✓\n\nHere's the result:\n# Your Headline Here\n...\n```\n\n**No preamble. No summary. Just the advertorial.**\n\n---\n\n# REMEMBER\n\nYou're a **fix executor**, not a **content evaluator**.\n\n**Compliance feedback = your instruction list**\n\nExecute every instruction. Output result. Done.\n\nEven if there are 1 violation or 20 violations, your job is the same:\n1. Read fix instructions\n2. Apply them\n3. Output fixed advertorial\n\n**Simple. Mechanical. Reliable.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3680,
        96
      ],
      "id": "295d7098-dc74-45c1-820d-f59f3b9d00d5",
      "name": "Compliance Rewriter"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "campaigns",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Extract Fields').item.json.campaignId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "generated_content",
              "fieldValue": "=https://docs.google.com/document/d/{{ $json.id }}/"
            },
            {
              "fieldId": "doc_name",
              "fieldValue": "={{ $('Filename Builder').item.json.documentName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5072,
        -96
      ],
      "id": "77843500-9460-43bf-8fc7-62a85a4f4307",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "7KJpcJFu5QuT9L4h",
          "name": "Supabase (Xevio)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update Backend",
        "height": 224,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4992,
        -160
      ],
      "typeVersion": 1,
      "id": "4df92698-3295-49a8-a8cb-25c5333f1f2c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the core product/service name from this campaign topic. Return ONLY the product name in 2-5 words, capitalized properly.\n\nTopic: \"{{$json.topic}}\"\n\nRules:\n- Extract the main product/service (e.g., \"Hair Growth Solution\", \"Dental Insurance\", \"Weight Loss Supplement\")\n- Use 2-5 words maximum\n- Capitalize each word\n- Remove marketing fluff (e.g., \"science-backed\", \"discover\", \"clinical\")\n- DO NOT include explanations or extra text\n- If unclear, use the niche: \"{{$json.niche}}\"\n\nProduct name:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -112,
        32
      ],
      "id": "91b11995-27d5-485d-9a64-5588da409c79",
      "name": "Topic Extractor"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ],
      "id": "88a4121b-1806-4758-9207-71ed17ed42f2",
      "name": "gemini-2.5-flash",
      "credentials": {
        "openRouterApi": {
          "id": "r433MoZZGOsLjy7p",
          "name": "OpenRouter Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FILENAME BUILDER - Uses AI-extracted topic\n// Format: CAMPAIGNTYPE - Topic - COUNTRY - Date\n// ============================================\n\n// Get campaign data from \"Extract Fields\" node\nconst campaignData = $('Extract Fields').first().json;\n\n// Get AI-extracted topic from immediate previous node (AI Agent)\nconst aiTopic = $input.first().json;\n\n// Extract the AI response (handle different response formats)\nconst extractedTopic = aiTopic.output || aiTopic.text || aiTopic.content || aiTopic;\n\n// Campaign type abbreviation\nconst campaignTypeMap = {\n  'Lead Generation': 'LEAD',\n  'E-commerce': 'ECOM',\n  'ecommerce': 'ECOM'\n};\nconst campaignType = campaignTypeMap[campaignData.campaignType] || 'DRAFT';\n\n// Topic from AI (fallback to niche if AI failed)\nconst topic = (typeof extractedTopic === 'string' ? extractedTopic.trim() : null) \n              || campaignData.niche \n              || 'Advertorial';\n\n// Country to ISO code\nconst countryMap = {\n  'United States': 'US',\n  'United Kingdom': 'UK',\n  'Canada': 'CA',\n  'Germany': 'DE',\n  'France': 'FR',\n  'Spain': 'ES',\n  'Italy': 'IT',\n  'Netherlands': 'NL',\n  'Australia': 'AU'\n};\nconst country = countryMap[campaignData.country] || 'XX';\n\n// Date (dd.mm.yyyy)\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst year = now.getFullYear();\nconst date = `${day}.${month}.${year}`;\n\n// Build filename\nconst documentName = `${campaignType} - ${topic} - ${country} - ${date}`;\n\nconsole.log('📄 Generated filename:', documentName);\nconsole.log('📊 Source data:', {\n  campaignType: campaignData.campaignType,\n  extractedTopic,\n  country: campaignData.country\n});\n\n// Return combined data\nreturn {\n  json: {\n    ...campaignData,  // All original campaign data\n    aiExtractedTopic: extractedTopic,  // What AI extracted\n    documentName  // Final filename\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        32
      ],
      "id": "3c2cea04-ab37-4307-975f-4dfa4e833e4c",
      "name": "Filename Builder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1123cc9c-922f-485d-919c-229b89b8ae98",
              "name": "campaignId",
              "value": "={{ $json.body.campaignId }}",
              "type": "string"
            },
            {
              "id": "724f5d9a-04e4-4959-9d64-f5433d48cfd0",
              "name": "topic",
              "value": "={{ $json.body.topic }}",
              "type": "string"
            },
            {
              "id": "9866aeae-cbbb-4b30-ba96-c87ca426d281",
              "name": "campaignType",
              "value": "={{ $json.body.campaignType }}",
              "type": "string"
            },
            {
              "id": "8600aad8-f9de-4d7d-a826-b44c2a8139d4",
              "name": "niche",
              "value": "={{ $json.body.niche }}",
              "type": "string"
            },
            {
              "id": "d517c1f9-571c-4463-933e-7e54822d772e",
              "name": "country",
              "value": "={{ $json.body.country }}",
              "type": "string"
            },
            {
              "id": "7c6d7cdd-56ec-4f0f-935b-105c4f7d834b",
              "name": "language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            },
            {
              "id": "05424a2e-1b6a-4209-90e2-b8a76357ce91",
              "name": "length",
              "value": "={{ $json.body.length }}",
              "type": "string"
            },
            {
              "id": "6df0ab1d-3c8a-4180-8399-564abb49eea1",
              "name": "paragraphLength",
              "value": "={{ $json.body.paragraphLength }}",
              "type": "string"
            },
            {
              "id": "d3ebc1d1-f2ad-4587-8641-d9c6a6a5972e",
              "name": "guidelines",
              "value": "={{ $json.body.guidelines }}",
              "type": "string"
            },
            {
              "id": "2531bd19-7e7a-4fb0-9b7b-548f3c5534a6",
              "name": "customGuidelines",
              "value": "={{ $json.body.customGuidelines }}",
              "type": "string"
            },
            {
              "id": "eff453ae-899d-44aa-8417-23dbbd99aae6",
              "name": "selectedInsights",
              "value": "={{ $json.body.selectedInsights }}",
              "type": "object"
            },
            {
              "id": "d00a2927-6a7d-4113-b1b5-7330e4360bf1",
              "name": "structureBlocks",
              "value": "={{ $json.body.structureBlocks }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        32
      ],
      "id": "f16d1f72-b728-417d-8ad7-904842ef36fb",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "content": "## TEST DATA",
        "height": 272,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -608
      ],
      "typeVersion": 1,
      "id": "25efd2d8-7dba-43f0-a64f-e71d535866f0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Code Node: \"Mock Webhook Data\"\n\nreturn {\n  json: {\n    headers: {\n      \"content-type\": \"application/json\"\n    },\n    params: {},\n    query: {},\n    body: {\n      campaignId: \"dfdbe6ae-0202-4fe2-bfd7-68875026a04c\",\n      topic: \"How Americans over 50 can reduce joint pain naturally without prescription medications - discover the science-backed supplements that may help you stay active and pain-free\",\n      campaignType: \"Lead Generation\",\n      niche: \"Health Supplements\",\n      country: \"United States\",\n      language: \"English\",\n      length: \"2000\",\n      paragraphLength: \"Short (1-3 lines)\",\n      guidelines: \"Custom\",\n      customGuidelines: \"Avoid claims of \\\"clinically proven,\\\" \\\"cure,\\\" or \\\"guaranteed results\\\" without proper FDA backing. Include standard supplement disclaimer about FDA evaluation. Testimonials must note individual results vary.\",\n      referenceUrls: [\n        {\n          url: \"https://www.aarp.org/health/drugs-supplements/supplements-for-joint-pain-relief/\",\n          description: \"Authoritative AARP source covering turmeric/curcumin, fish oil, and research-backed supplements. Extract: dosage recommendations, timeline expectations for results, safety warnings and drug interactions.\"\n        },\n        {\n          url: \"https://www.healthline.com/health/joint-supplements\",\n          description: \"Comprehensive overview of multiple supplements including glucosamine, chondroitin, SAMe. Extract: specific dosages, scientific research citations, effectiveness findings.\"\n        },\n        {\n          url: \"https://www.arthritis.org/health-wellness/treatment/complementary-therapies/supplements-and-vitamins/vitamins-supplements-arthritis\",\n          description: \"Arthritis Foundation perspective emphasizing supplements as complementary therapy, not replacement for medication. Extract: omega-3 dosage information, integration with traditional treatment, medical consultation importance.\"\n        }\n      ],\n      selectedInsights: {\n        usps: [\n          \"Choose turmeric/curcumin as a natural alternative that is equally effective as NSAIDs for knee osteoarthritis without the side effects.\",\n          \"Opt for USP or NSF certified seals to guarantee products have been independently tested for quality and purity.\",\n          \"Improve knee quality of life and general well-being in as little as 12 weeks with MSM supplementation.\",\n          \"Reduce OA-specific pain and improve overall well-being with high-potency fish oil that slows the progression of cartilage damage.\",\n          \"Protect joint cartilage and support long-term bone strength using natural S-adenosyl-methionine (SAM-e) comparable to NSAIDs without gastrointestinal side effects.\",\n          \"Protect and repair cartilage with avocado-soybean unsaponifiables (ASUs) to prevent bone-on-bone friction.\",\n          \"Utilize Boswellic acids to provide natural anti-arthritic effects and protect existing cartilage.\"\n        ],\n        pricing: [\n          \"AARP Membership: $15 for your first year when you sign up for Automatic Renewal.\",\n          \"LifeLock by Norton: identity theft protection plans starting at $6.99 a month.\"\n        ],\n        mainAngle: [\n          \"Position supplements as a safer, long-term alternative to NSAIDs which can cause kidney problems and stomach ulcers in older adults, while maintaining an active lifestyle.\"\n        ],\n        toneOfVoice: [\n          \"Expert and Clinical Authority - Example: \\\"In a study of 367 people with knee OA, a 1,500 mg daily dose of curcumin extract was as effective as 1,200 mg a day of ibuprofen.\\\"\"\n        ],\n        keyHooks: [\n          \"Subheadline: \\\"Are your joints feeling a little creaky? These research-backed joint supplements may help ease pain and stiffness.\\\"\",\n          \"Opening Teaser: \\\"Dozens of supplements claim to treat joint pain... but which ones actually work? Here, we look at 9 options and what existing research says.\\\"\",\n          \"Social Proof Hook: \\\"Today, 1 in 4 adults in America live with arthritis.\\\"\"\n        ]\n      },\n      structureBlocks: [\n        { position: 1, name: \"Lede (Story, First Person)\", inputValue: null, selectValue: null },\n        { position: 2, name: \"Problem Awareness Paragraph\", inputValue: null, selectValue: null },\n        { position: 3, name: \"(X) Reasons For…\", inputValue: \"5\", selectValue: null },\n        { position: 4, name: \"Authority\", inputValue: \"Dr. Michael Chen, Orthopedic Surgeon & Sports Medicine Specialist\", selectValue: null },\n        { position: 5, name: \"Solution (Product Introduction)\", inputValue: null, selectValue: null },\n        { position: 6, name: \"Unique Mechanism\", inputValue: null, selectValue: null },\n        { position: 7, name: \"Studies/Research\", inputValue: \"A 2021 BMJ study found curcumin reduced knee osteoarthritis pain and improved function. Participants took 500mg twice daily for 12 weeks\", selectValue: null },\n        { position: 8, name: \"Bullet Points (Benefits)\", inputValue: null, selectValue: null },\n        { position: 9, name: \"Expert Testimonial (Quote)\", inputValue: null, selectValue: \"Expert\" },\n        { position: 10, name: \"Social Proof (Reviews)\", inputValue: null, selectValue: null },\n        { position: 11, name: \"Killing Concerns\", inputValue: null, selectValue: null },\n        { position: 12, name: \"Price Explainer\", inputValue: null, selectValue: null },\n        { position: 13, name: \"CTA\", inputValue: null, selectValue: null }\n      ]\n    },\n    webhookUrl: \"https://manglarmedia.app.n8n.cloud/webhook/c66f38a9-243c-41d9-b41f-bead78d16db4\",\n    executionMode: \"production\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -528
      ],
      "id": "bde9d42e-a569-4fad-9a52-8404b06dca3b",
      "name": "Test data (NEW)"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to look for scientific studies to help and back claims made in advertorial. The user will give an indication of what to look for.",
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"firecrawl web scraping\",\n  \"limit\": 3,\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\",\n      \"links\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1056,
        384
      ],
      "id": "38860935-9925-4e55-a525-d40ba5f0cea9",
      "name": "Search + Scrape (Studies)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e9Vc48yBqkTjKAiz",
          "name": "Firecrawl"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "pattern_library": {
      "ai_tool": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "pattern_library",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "copywriting_guide",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "copywriting_guide": {
      "ai_tool": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Sanity Rewriter",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Compliance Rewriter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sonnet-4.5": {
      "ai_languageModel": [
        [
          {
            "node": "Advertorial Writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Sanity Rewriter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Compliance Rewriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Advertorial Writer": {
      "main": [
        [
          {
            "node": "Cleaner + Word Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Doc Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doc Fields": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Block Structure": {
      "main": [
        [
          {
            "node": "Writer Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Agent": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash-2": {
      "ai_languageModel": [
        [
          {
            "node": "Sanity Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "ERGO Compliance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ERGO Compliance": {
      "main": [
        [
          {
            "node": "Check Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback": {
      "main": [
        [
          {
            "node": "Compliant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Original": {
      "main": [
        [
          {
            "node": "Guidelines Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revised": {
      "main": [
        [
          {
            "node": "Guidelines Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Test data (NEW)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Writer Brief": {
      "main": [
        [
          {
            "node": "Advertorial Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaner + Word Counter": {
      "main": [
        [
          {
            "node": "Sanity Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Sanity Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Rewriter": {
      "main": [
        [
          {
            "node": "Revised",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanity Check": {
      "main": [
        [
          {
            "node": "Original",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sanity Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guidelines Check": {
      "main": [
        [
          {
            "node": "FINAL 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERGO Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliant?": {
      "main": [
        [
          {
            "node": "FINAL 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compliance Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 1": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 2": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINAL 3": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Rewriter": {
      "main": [
        [
          {
            "node": "FINAL 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic Extractor": {
      "main": [
        [
          {
            "node": "Filename Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini-2.5-flash": {
      "ai_languageModel": [
        [
          {
            "node": "Topic Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filename Builder": {
      "main": [
        [
          {
            "node": "Build Block Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Topic Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test data (NEW)": {
      "main": [
        []
      ]
    },
    "Search + Scrape (Studies)": {
      "ai_tool": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faf86a10-970b-451d-984d-4758378501bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d13ac94932aa15ce393c2710b6b540a9393b919f6fb77e7fb7f889daafb646"
  },
  "id": "t7wEtPr5Wc59L6SK",
  "tags": [
    {
      "updatedAt": "2026-02-19T21:16:05.495Z",
      "createdAt": "2025-10-15T23:14:15.940Z",
      "id": "2tVWdWLl7flgyRol",
      "name": "BUILDER"
    }
  ]
}